{{#partial "page"}}

<!-- {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}} -->
<section>
    <div class="logo">
        <img src="../assets/img/logos-ts-burgundy@2x.png" width="400px" alt="TS Logo">
    </div>
    <div class="hero">
    </div>
</section>
<section class="wrapper">
    <div class="grid-container">
        <div class="img-1">
            <div class="view-special-offers-icon"></div>
        </div>
        <div class="content-1">
            <p>
                Maybe where you were going doesn't exist anymore...
                <br>
                check out what's happening now!
                <br>
                <a class="framelink-xl" href="#">View special offers ></a>
            </p>

        </div>
        <div class="content-2">
            <p>
                If you are using a bookmark and you are sure this is where you want to go...
                <br>
                check to see if you need to update your bookmark!
            </p>
        </div>
        <div class="img-2">
            <div class="book-mark"></div>
        </div>
        <div class="img-3">
            <div class="phone-icon"></div>
        </div>
        <div class="content-3">
            <p>
                Still think where you are going should work?
                <br>
                Give us a call... we might be experiencing temporary problems.
                <br>
                866.448.646
            </p>
        </div>
        <div class="img-4">
            <div class="house-icon"></div>
        </div>
        <div class="content-4">
            <p>
                Or just wait a bit and we will bring you to our homepage at
                <br> 
                <a href="#">tastefullysimple.com</a>
            </p>
        </div>
    </div>
</section>
{{/partial}}
{{> layout/base}}


<!-- <main class="page">
    <section class="page-content page-content--centered">
        <h1 class="page-heading">{{lang 'page_not_found.page_heading'}}</h1>
        <p class="u-textAlignCenter">
            {{lang 'page_not_found.message'}}
        </p>

        {{> components/common/search-box}}
    </section>
</main> -->