<nav aria-label="Breadcrumb">
    <ol class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
        {{#unless theme_settings.hide_breadcrumbs }}
            {{#each breadcrumbs}}
                <li class="breadcrumb {{#if @last}}is-active{{/if}}" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <a class="breadcrumb-label"
                       itemprop="item"
                       href="{{url}}"
                       {{#if @last}}aria-current="page"{{/if}}
                    >
                        <span itemprop="name">
                            {{#if name '===' 'Account Details'}}
                                {{lang 'account.nav.settings'}}
                            {{else if name "==" "Your Orders"}}
                                {{lang 'account.nav.orders'}}
                            {{else if name "==" "Address Book"}}
                                {{lang 'account.nav.addresses'}}
                            {{else if name "==" "Your Wishlists"}}
                                {{lang 'account.nav.your_favorites'}}
                            {{else if name "==" "View Wishlist"}}
                                {{lang 'account.nav.view_favorite'}}
                            {{else}}
                                {{#if name "==" "Edit Wishlist" }}Edit Favorite List{{else}}{{name}}{{/if}}
                            {{/if}}
                            </span>
                    </a>
                    <meta itemprop="position" content="{{add @index 1}}" />
                </li>
            {{/each}}
        {{/unless}}
    </ol>
</nav>
