<div class="modal-general-alternate">
    <div class="genmodal-header">
        <h2>Find a Consultant</h2>
        <span class="close-modal-alternate"></span>
    </div>
    <div class="genmodal-body">
    </div>
</div>
<article class="buy-wide-card">
    <span class="frame-text">Search by zip code</span>
    <div>
        <label class="input-label">
            <span>zip code</span>
            <input type="text" value="Input Value" placeholder="Enter zip code">
        </label>
        <div class="simple-dropdown">
            <label for="dropdown-demo">Search Radius</label>
            <select name="dropdown-demo" id="dropdown-demo">
                <option value="Select State">Exact Match</option>
            </select>
            <!-- add hover button -->
            <div>
                <button class="button-alternate">search</button>
            </div>
        </div>
    </div>
</article>
<article class="buy-wide-card">
    <span class="frame-text">Search by consultant name</span>
    <div>
        <div class="simple-dropdown">
            <label for="dropdown-demo">State</label>
            <select name="dropdown-demo" id="dropdown-demo">
                <option value="Select State">Select</option>
            </select>
        </div>
        <label class="input-label">
            <span>First or Last Name</span>
            <input type="text" value="Input Value" placeholder="Enter first or last name">
        </label>
        <div>
            <button class="button-alternate">search</button>
        </div>
    </div>
</article>
<article class="buy-wide-card">
    <span class="frame-text">Search by consultant ID</span>
    <div>
        <label class="input-label">
            <span>ID</span>
            <input type="text" value="Input Value" placeholder="Enter consultant ID">
        </label>
        <div>
            <button class="button-alternate">search</button>
        </div>
    </div>
</article>
