<div class="modal-general-alternate" id="consultant-search">
    <div class="genmodal-header">
        <h2>Find A Consultant</h2>
        <a href="#" class="modal-close" aria-label="Close" role="button">
            <span aria-hidden="true" class="close-modal-alternate"></span>
        </a>
    </div>
    <div class="genmodal-body">
        <article class="buy-wide-card">
            <span class="form-title system-14">Search by zip code</span>
            <div class="card-form system-12">
                <label class="input-label">
                    <span>zip code</span>
                    <input type="text" placeholder="Enter zip code">
                </label>
                <div class="simple-dropdown">
                    <label for="dropdown-demo">Search Radius</label>
                    <select name="dropdown-demo" id="dropdown-demo">
                        <option value="Select State">Exact Match</option>
                    </select>
                </div>
                <div class="vertical-bottom">
                    <button class="button-alternate">search</button>
                </div>
            </div>
        </article>
        <article class="buy-wide-card">
            <span class="form-title system-14">Search by consultant name</span>
            <div class="card-form system-12">
                <div class="simple-dropdown">
                    <label for="dropdown-demo">State</label>
                    <select name="dropdown-demo" id="dropdown-demo">
                        <option value="Select State">Select</option>
                    </select>
                </div>
                <label class="input-label">
                    <span>First or Last Name</span>
                    <input type="text" placeholder="Enter first or last name">
                </label>
                <div class="vertical-bottom">
                    <button class="button-alternate">search</button>
                </div>
            </div>
        </article>
        <article class="buy-wide-card">
            <span class="form-title system-14">Search by consultant ID</span>
            <div class="card-form system-12">
                <label class="input-label">
                    <span>ID</span>
                    <input type="text" placeholder="Enter consultant ID">
                </label>
                <div class="vertical-bottom" >
                    <button class="button-alternate">search</button>
                </div>
            </div>
        </article>
    </div>
</div>
<div class="modal-general-alternate" id="consultant-search-results">
    <div class="genmodal-header">
        <h2>Choose A Consultant</h2>
        <a href="#" class="modal-close" aria-label="Close" role="button">
            <span aria-hidden="true" class="close-modal-alternate"></span>
        </a>
    </div>
    <div class="genmodal-body">
        <article class="buy-wide-card">
            <div class="return-search">
                <div class="vertical-center">
                    <span class="icon-system-left-caret"></span>
                </div>
                <span class="frame-caption">Refine your search</span>
            </div>
            <span class="system-14" id="consultants-qty">Consultants matching</span>
            <div class="consultant-card">
                <div class="consultant-image">
                    <img src="https://lh3.googleusercontent.com/IeNJWoKYx1waOhfWF6TiuSiWBLfqLb18lmZYXSgsH1fvb8v1IYiZr5aYWe0Gxu-pVZX3" alt="replace-me"/>
                </div>
                <div class="consultant-info">
                    <h5 class="frameheading-5">Consultant Name</h5>
                    <div class="system-14">
                        <span>Diamond</span>
                        <div class="consultant-phone">
                            <span class="icon-system-phone"></span>
                            <div class="vertical-center system-14">
                                <span>214-555-5555</span>
                            </div>
                        </div>
                        <div class="consultant-email">
                            <span class="icon-system-envelope"></span>
                            <div class="vertical-center system-14">
                                <span>test-email@gmail.com</span>
                            </div>
                        </div>
                        <span>Minneapolis, MN 55608</span>
                        <div class="ts-page-link">
                            <div class="vertical-center">
                                <a class="framelink-lg">View my TS page</a>
                            </div>
                            <span class="icon-system-download"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>
