<div class="modal-general-alternate" id="consultant-search">
    <div class="genmodal-header">
        <h2>Find A Consultant</h2>
        <a href="#" class="modal-close" aria-label="Close" role="button">
            <span aria-hidden="true" class="close-modal-alternate"></span>
        </a>
    </div>
    <div class="genmodal-body">
        <div class="alertbox-error">
            <h2 class="alert-title">Error</h2>
            <p class="alert-message">
                <span></span>
            </p>
        </div>
        <form onsubmit="return false">
            <article class="buy-wide-card zip-search">
                <span class="form-title system-14">Search by zip code</span>
                <div class="card-form system-12">
                    <label class="input-label">
                        <span>zip code</span>
                        <input type="text" placeholder="Enter zip code" pattern="(\d{5}([\-]\d{4})?)">
                    </label>
                    <div class="simple-dropdown">
                        <label for="dropdown-demo">Search Radius</label>
                        <select name="dropdown-demo" id="dropdown-demo">
                            <option value="Select State">Exact Match</option>
                        </select>
                    </div>
                    <div class="vertical-bottom">
                        <button class="button-alternate">search</button>
                    </div>
                </div>
            </article>
        </form>
        <form onsubmit="return false">
            <article class="buy-wide-card name-search">
                <span class="form-title system-14">Search by consultant name</span>
                <div class="card-form system-12">
                    <div class="simple-dropdown">
                        <label for="dropdown-demo">State</label>
                        <select name="dropdown-demo" id="dropdown-demo">
                            <option value="Select State">Select</option>
                        </select>
                    </div>
                    <label class="input-label">
                        <span>First or Last Name</span>
                        <input type="text" placeholder="Enter first or last name">
                    </label>
                    <div class="vertical-bottom">
                        <button class="button-alternate">search</button>
                    </div>
                </div>
            </article>
        </form>
        <form onsubmit="return false">
            <article class="buy-wide-card id-search">
                <span class="form-title system-14">Search by consultant ID</span>
                <div class="card-form system-12">
                    <label class="input-label">
                        <span>ID</span>
                        <input type="text" placeholder="Enter consultant ID">
                    </label>
                    <div class="vertical-bottom" >
                        <button class="button-alternate">search</button>
                    </div>
                </div>
            </article>
        </form>
    </div>
</div>
<div class="modal-general-alternate" id="consultant-search-results">
    <div class="genmodal-header">
        <h2>Choose A Consultant</h2>
        <a href="#" class="modal-close" aria-label="Close" role="button">
            <span aria-hidden="true" class="close-modal-alternate"></span>
        </a>
    </div>
    <div class="genmodal-body">
        <article class="buy-wide-card">
            <div class="return-search">
                <div class="vertical-center">
                    <span class="icon-system-left-caret"></span>
                </div>
                <span class="frame-caption">Refine your search</span>
            </div>
        </article>
    </div>
</div>
