<header class="header" role="banner">
    <div class="header-top">
        <div class="container new-tst-grid">
            <div id="bcapi_top_left_menu" style="text-align: right;">
                <ul class="navPages-list{{#if theme_settings.navigation_design '!==' 'simple'}} navPages-list-depth-max{{/if}}">
                    <li id="partybar-find" class="navPages-item navPages-item">
                        <a class="navPages-action" id="find-party-mobile-text">Find a Party</a>
                    </li>
                    <li class="navPages-item navPages-item-host">
                        <a class="navPages-action teal-text" href="/host">host</a>
                    </li>
                </ul>
            </div>
            <div></div>
            <div id="bcapi_top_right_menu">
                <ul class="navPages-list{{#if theme_settings.navigation_design '!==' 'simple'}} navPages-list-depth-max{{/if}}">
                    <li class="navPages-item navPages-item-join">
                        <a class="navPages-action teal-text" href="/join-us/">join</a>
                    </li>
                    <li class="navPages-item navPages-item-consultant">
                        <a class="navPages-action teal-text menu-headertoplinks-consult headertoplinks-consult">find a consultant</a>
                    </li>
                </ul>
            </div>
            <div class="header-top-links">
                <div>
                    <div class="headertoplinks-nav" style="color: black;">
                        {{> components/common/navigation}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="header-main new-tst-main" id="headerMain">
        <div class="container new-tst-header">
            <div class="left-menu">
                <div class="navPages-container" id="menu" data-menu>
                   {{> components/common/navigation-menu-custom}}
                </div>
            </div>
            <a href="#" class="mobileMenu-toggle" data-mobile-menu-toggle="menu">
                <span class="mobileMenu-toggleIcon">Toggle menu</span>
            </a>
            {{#if page_type '===' 'default'}}
                <h1 class="header-logo header-logo--{{theme_settings.logo-position}} header-logo--collapsed">
                    {{> components/common/store-logo}}
                </h1>
            {{else}}
                <div class="header-logo header-logo--{{theme_settings.logo-position}} header-logo--collapsed">
                    {{> components/common/store-logo}}
                </div>
            {{/if}}
            <div class="right-menu">
                <div class="navPages-container" id="menu" data-menu>
                    {{> components/common/navigation-right-custom}}
                 </div>
            </div>
            <div class="nav-search">
                {{> components/common/search-box}}
            </div>
        </div>
    </div>
</header>
{{{region name="header_bottom--global"}}}
{{{region name="header_bottom"}}}

{{!-- Find a Party bar --}}
{{> components/common/custom/consultant-partybar }}
{{> components/common/custom/banner-custom }}
