<header class="header" role="banner">
    <div class="header-top textgray-background">
        <div class="container">
            <div class="header-top-banner">
                <div class="banners" data-banner-location="top">
                    <div class="banner">
                      <!--
                      Hardcoding the banner content here so that the banner
                      can be shown to all pages
                      -->
                      <p>Free Shipping on Orders over $100 <a href="#">details</a></p>
                    </div>
                </div>
            </div>
            <div class="header-top-links">
                <div class="headertoplinks-consult">
                    <span class="icon-system-marker"></span>
                    <span>Find a Consultant</span>
                </div>
                <div class="headertoplinks-nav">
                    {{> components/common/navigation}}
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="mobileMenu-toggle" data-mobile-menu-toggle="menu">
        <span class="mobileMenu-toggleIcon">Toggle menu</span>
    </a>

    <div class="header-main" id="headerMain">
        <div class="container">
            {{#if page_type '===' 'default'}}
                <h1 class="header-logo header-logo--{{theme_settings.logo-position}} header-logo--collapsed">
                    {{> components/common/store-logo}}
                </h1>
            {{else}}
                <div class="header-logo header-logo--{{theme_settings.logo-position}} header-logo--collapsed">
                    {{> components/common/store-logo}}
                </div>
            {{/if}}
            <div class="navPages-container" id="menu" data-menu>
               {{> components/common/navigation-menu-custom}}
            </div>
            <div class="nav-search">
                {{> components/common/search-box}}
            </div>
        </div>
    </div>
</header>
{{{region name="header_bottom"}}}

