<nav class="navPages">
    <div class="navPages-quickSearch">
        {{> components/common/quick-search}}
    </div>
    <ul class="navPages-list{{#if theme_settings.navigation_design '!==' 'simple'}} navPages-list-depth-max{{/if}}">
        <li class="navPages-item">
            <a
                class="navPages-action had-subMenu burgundy-text"
                href="/shop"
                data-collapsible="navPages-catShop"
                aria-controls="navPages-catShop"
                aria-expanded="false"
            >Shop</a>
            <div class="navPage-subMenu" id="navPages-catShop" tabindex="-1">
                <ul class="navPage-subMenu-list">
                    <li class="navPage-subMenu-item">
                        <a 
                            class="navPage-subMenu-action navPages-action has-subMenu"
                            href=""
                            data-collapsible="navPages-catShopByProd"
                            aria-controls="navPages-catShopByProd"
                            aria-expanded="false"
                        >Shop by Product</a>
                        <ul class="navPage-childList" id="navPages-catShopByProd">
                            <li class="navPage-childList-item">
                                <a class="navPage-childList-action navPages-action" href="">Beverages</a>
                            </li>
                            <li class="navPage-childList-item">
                                <a class="navPage-childList-action navPages-action" href="">Breads &amp; Muffins</a>
                            </li>
                            <li class="navPage-childList-item">
                                <a class="navPage-childList-action navPages-action" href="">Desserts</a>
                            </li>
                            <li class="navPage-childList-item">
                                <a class="navPage-childList-action navPages-action" href="">Dips</a>
                            </li>
                            <li class="navPage-childList-item">
                                <a class="navPage-childList-action navPages-action" href="">Kitchen Essentials</a>
                            </li>
                            <li class="navPage-childList-item">
                                <a class="navPage-childList-action navPages-action" href="">Oils, Vinegars, &amp; Dressings</a>
                            </li>
                            <li class="navPage-childList-item">
                                <a class="navPage-childList-action navPages-action" href="">Product Assortments</a>
                            </li>
                            <li class="navPage-childList-item">
                                <a class="navPage-childList-action navPages-action" href="">Sauces, Salads, &amp; Spreads</a>
                            </li>
                            <li class="navPage-childList-item">
                                <a class="navPage-childList-action navPages-action" href="">Seaonsings</a>
                            </li>
                            <li class="navPage-childList-item">
                                <a class="navPage-childList-action navPages-action" href="">Snacks</a>
                            </li>
                            <li class="navPage-childList-item">
                                <a class="navPage-childList-action navPages-action" href="">Soups</a>
                            </li>
                            <li class="navPage-childList-item">
                                <a class="navPage-childList-action navPages-action" href="">Sales &amp; Specials</a>
                            </li>
                            <li class="navPage-childList-item">
                                <a class="navPage-childList-action navPages-action" href="">What's New</a>
                            </li>
                        </ul>
                    </li>
                    <li class="navPage-subMenu-item">
                        <a 
                            class="navPage-subMenu-action navPages-action has-subMenu"
                            href=""
                            data-collapsible="navPages-catShopByNutrition"
                            data-collapsible-disabled-state="open"
                            data-collapsible-enabled-state="closed"
                            aria-controls="navPages-catShopByNutrition"
                            aria-expanded="false"
                        >Shop by Nutrition</a>
                        <ul class="navPage-childList" id="navPages-catShopByNutrition">
                            <li class="navPage-childList-item">
                                <a class="navPage-childList-action navPages-action" href="">Carb Cutting</a>
                            </li>
                            <li class="navPage-childList-item">
                                <a class="navPage-childList-action navPages-action" href="">Kosher</a>
                            </li>
                            <li class="navPage-childList-item">
                                <a class="navPage-childList-action navPages-action" href="">No Gluten Ingredients</a>
                            </li>
                            <li class="navPage-childList-item">
                                <a class="navPage-childList-action navPages-action title-case" href="">TS EatWell</a>
                            </li>
                            <li class="navPage-childList-item">
                                <a class="navPage-childList-action navPages-action" href="">Vegetarian</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </li>
        <li class="navPages-item">
            <a class="navPages-action teal-text" href="/join">join</a>
        </li>
        <li class="navPages-item">
            <a class="navPages-action greenapple-text" href="/host">host</a>
        </li>
        <li class="navPages-item frame-text">
            <a class="navPages-action" href="/recipes">recipes</a>
        </li>
        <li class="navPages-item frame-text">
            <a class="navPages-action" href="/blog">blog</a>
        </li>
    </ul>
    <ul class="navPages-list navPages-list--user">
        {{#if currency_selector.currencies.length '>' 1}}
            <li class="navPages-item">
                <a class="navPages-action has-subMenu" href="#" data-collapsible="navPages-currency" aria-controls="navPages-currency" aria-expanded="false">
                    {{lang 'common.currency' code=currency_selector.active_currency_code}} <i class="icon navPages-action-moreIcon" aria-hidden="true"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-chevron-down"></use></svg></i>
                </a>
                <div class="navPage-subMenu" id="navPages-currency" aria-hidden="true" tabindex="-1">
                    <ul class="navPage-subMenu-list">
                        {{#each currency_selector.currencies}}
                        <li class="navPage-subMenu-item">
                            <a class="navPage-subMenu-action navPages-action" href="{{{switch_url}}}">
                                {{#if is_active}}
                                    <strong>{{name}}</strong>
                                {{else}}
                                    {{name}}
                                {{/if}}
                            </a>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </li>
        {{/if}}
        {{#if settings.gift_certificates_enabled}}
            <li class="navPages-item">
                <a class="navPages-action" href="{{urls.gift_certificate.purchase}}">{{lang 'common.gift_cert'}}</a>
            </li>
        {{/if}}
        {{#if customer.store_credit.value '>' 0}}
            <li class="navPages-item">
                <a class="navPages-action navPages-action--storeCredit">
                    {{lang 'common.store_credit_overview' credit=customer.store_credit.formatted}}
                </a>
            </li>
        {{/if}}
        {{#if theme_settings.product_list_display_mode '==' 'list'}}
            <li class="navPages-item">
                <a class="navPages-action navPages-action--compare" href="{{urls.compare}}" data-compare-nav>{{lang 'common.compare'}} <span class="countPill countPill--positive countPill--alt"></span></a>
            </li>
        {{/if}}
        {{#if customer}}
            <li class="navPages-item">
                <a class="navPages-action has-subMenu" href="{{urls.account.index}}" data-collapsible="navPages-account">
                    {{lang 'common.account'}} <i class="icon navPages-action-moreIcon" aria-hidden="true"><svg><use xlink:href="#icon-chevron-down" /></svg></i>
                </a>
                <div class="navPage-subMenu" id="navPages-account" aria-hidden="true" tabindex="-1">
                    <ul class="navPage-subMenu-list">
                        <li class="navPage-subMenu-item">
                            <a class="navPage-subMenu-action navPages-action" href="{{urls.account.orders.all}}">{{lang 'account.nav.orders'}}</a>
                        </li>
                        {{#if settings.returns_enabled}}
                            <li class="navPage-subMenu-item">
                                <a class="navPage-subMenu-action navPages-action" href="{{urls.account.returns}}">{{lang 'account.nav.returns'}}</a>
                            </li>
                        {{/if}}
                        <li class="navPage-subMenu-item">
                            <a class="navPage-subMenu-action navPages-action" href="{{urls.account.inbox}}">{{lang 'account.mobile_nav.messages'}}</a>
                        </li>
                        <li class="navPage-subMenu-item">
                            <a class="navPage-subMenu-action navPages-action" href="{{urls.account.addresses}}">{{lang 'account.nav.addresses'}}</a>
                        </li>
                        {{#if settings.show_payment_methods}}
                            <li class="navPage-subMenu-item">
                                <a class="navPage-subMenu-action navPages-action" href="{{urls.account.payment_methods.all}}">{{lang 'account.nav.payment_methods'}}</a>
                            </li>
                        {{/if}}
                        <li class="navPage-subMenu-item">
                            <a class="navPage-subMenu-action navPages-action" href="{{urls.account.wishlists.all}}">{{lang 'account.mobile_nav.wishlists'}}</a>
                        </li>
                        <li class="navPage-subMenu-item">
                            <a class="navPage-subMenu-action navPages-action" href="{{urls.account.recent_items}}">{{lang 'account.nav.recently_viewed'}}</a>
                        </li>
                        <li class="navPage-subMenu-item">
                            <a class="navPage-subMenu-action navPages-action" href="{{urls.account.details}}">{{lang 'account.nav.settings'}}</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="navPages-item">
                <a class="navPages-action" href="{{urls.auth.logout}}">{{lang 'common.logout'}}</a>
            </li>
        {{else}}
            <li class="navPages-item">
                <a class="navPages-action" href="{{urls.auth.login}}">{{lang 'common.login'}}</a>
                {{#if settings.account_creation_enabled}}
                    {{lang 'common.or'}} <a class="navPages-action" href="{{urls.auth.create_account}}">{{lang 'common.sign_up'}}</a>
                {{/if}}
            </li>
        {{/if}}
        {{#if theme_settings.social_icon_placement_top}}
            <li class="navPages-item">
                {{> components/common/social-links}}
            </li>
        {{/if}}
    </ul>
</nav>
