<nav class="navPages">
    <div class="navPages-quickSearch">
        {{> components/common/quick-search}}
    </div>
    <ul class="navPages-list{{#if theme_settings.navigation_design '!==' 'simple'}} navPages-list-depth-max{{/if}}">
        <li class="navPages-item">
            <a
                class="navPages-action had-subMenu burgundy-text"
                href="/shop"
                data-collapsible="navPages-catShop"
                aria-controls="navPages-catShop"
                aria-expanded="false"
            >Shop</a>
            <div class="navPage-subMenu" id="navPages-catShop" tabindex="-1">
                <ul class="navPage-subMenu-list">
                    <li class="navPage-subMenu-item">
                        <a 
                            class="navPage-subMenu-action navPages-action has-subMenu"
                            href="/shop/meal-kits"
                            data-collapsible="navPages-catShopByMeal"
                            aria-controls="navPages-catShopByMeal"
                            aria-expanded="false"
                        >Meal Prep Kits</a>
                        <ul class="navPage-childList" id="navPages-catShopByMeal">
                            <li class="navPage-childList-item">
                                <a class="navPage-childList-action navPages-action" href="/30-meal-kits">30 Meals</a>
                            </li>
                            <li class="navPage-childList-item">
                                <a class="navPage-childList-action navPages-action" href="/10-meal-kits">10 Meals</a>
                            </li>
                            <li class="navPage-childList-item">
                                <a class="navPage-childList-action navPages-action" href="/5-meal-kits">5 Meals</a>
                            </li>
                            <li class="navPage-childList-item">
                                <a class="navPage-childList-action navPages-action" href="/entertaining">Entertaining</a>
                            </li>
                            <li class="navPage-childList-item">
                                <a class="navPage-childList-action navPages-action" href="/14-day-reset">14-Day Reset</a>
                            </li>
                            <li class="navPage-childList-item">
                                <a class="navPage-childList-action navPages-action" href="/5-day-reset">5-Day Reset</a>
                            </li>
                        </ul>
                    </li>
                    <li class="navPage-subMenu-item">
                        <a 
                            class="navPage-subMenu-action navPages-action has-subMenu"
                            href="/shop/products"
                            data-collapsible="navPages-catShopByProd"
                            aria-controls="navPages-catShopByProd"
                            aria-expanded="false"
                        >Products</a>
                        <ul class="navPage-childList" id="navPages-catShopByProd">
                            <li class="navPage-childList-item">
                                <a class="navPage-childList-action navPages-action" href="/bread-soups">Breads &amp; Soups</a>
                            </li>
                            <li class="navPage-childList-item">
                                <a class="navPage-childList-action navPages-action" href="/desserts-baking">Desserts &amp; Baking</a>
                            </li>
                            <li class="navPage-childList-item">
                                <a class="navPage-childList-action navPages-action" href="/dips-appetizers">Dips &amp; Appetizers</a>
                            </li>
                            <li class="navPage-childList-item">
                                <a class="navPage-childList-action navPages-action" href="/oils-vinegars-and-dressings">Dressings &amp; Oils</a>
                            </li>
                            <li class="navPage-childList-item">
                                <a class="navPage-childList-action navPages-action" href="/drinks-beverages">Drinks &amp; Beverages</a>
                            </li>
                            <li class="navPage-childList-item">
                                <a class="navPage-childList-action navPages-action" href="/kitchenware-and-more">Kitchenware &amp; More</a>
                            </li>
                            <li class="navPage-childList-item">
                                <a class="navPage-childList-action navPages-action" href="/product-assortments">Product Assortments</a>
                            </li>
                            <li class="navPage-childList-item">
                                <a class="navPage-childList-action navPages-action" href="/sauces">Sauces</a>
                            </li>
                            <li class="navPage-childList-item">
                                <a class="navPage-childList-action navPages-action" href="/seasonings">Seasonings</a>
                            </li>
                            <li class="navPage-childList-item">
                                <a class="navPage-childList-action navPages-action" href="/snacks">Snacks</a>
                            </li>
                        </ul>
                    </li>
                    <li class="navPage-subMenu-item">
                        <a 
                            class="navPage-subMenu-action navPages-action has-subMenu"
                            href="/shop/sale-specials"
                            data-collapsible="navPages-catShopBySpecials"
                            data-collapsible-disabled-state="open"
                            data-collapsible-enabled-state="closed"
                            aria-controls="navPages-catShopBySpecials"
                            aria-expanded="false"
                        >Sales &amp; Specials</a>
                        <ul class="navPage-childList" id="navPages-catShopBySpecials">
                            <li class="navPage-childList-item">
                                <a class="navPage-childList-action navPages-action" href="/sales">Sales</a>
                            </li>
                            <li class="navPage-childList-item">
                                <a class="navPage-childList-action navPages-action" href="/whats-new">What's New</a>
                            </li>
                            <li class="navPage-childList-item">
                                <a class="navPage-childList-action navPages-action" href="while-supplies-last">While Supplies Last</a>
                            </li>
                        </ul>
                    </li>
                    <li class="navPage-subMenu-item">
                        <a 
                            class="navPage-subMenu-action navPages-action has-subMenu"
                            href="/shop/cooking-styles-ingredients"
                            data-collapsible="navPages-catShopByStyles"
                            data-collapsible-disabled-state="open"
                            data-collapsible-enabled-state="closed"
                            aria-controls="navPages-catShopByStyles"
                            aria-expanded="false"
                        >Cooking Styles &amp; Ingredients</a>
                        <ul class="navPage-childList" id="navPages-catShopByStyles">
                            <li class="navPage-childList-item">
                                <a class="navPage-childList-action navPages-action" href="/asian">Asian</a>
                            </li>
                            <li class="navPage-childList-item">
                                <a class="navPage-childList-action navPages-action" href="/mexican">Mexican</a>
                            </li>
                            <li class="navPage-childList-item">
                                <a class="navPage-childList-action navPages-action" href="/italian">Italian</a>
                            </li>
                            <li class="navPage-childList-item">
                                <a class="navPage-childList-action navPages-action" href="/grilling">Grilling</a>
                            </li>
                            <li class="navPage-childList-item">
                                <a class="navPage-childList-action navPages-action" href="/kid-favorites">Kid Favorites</a>
                            </li>
                            <li class="navPage-childList-item">
                                <a class="navPage-childList-action navPages-action" href="/clean-eating-TSEatwell">Clean Eating</a>
                            </li>
                            <li class="navPage-childList-item">
                                <a class="navPage-childList-action navPages-action" href="/no-gluten-ingredients">No Gluten Ingredients</a>
                            </li>
                            <li class="navPage-childList-item">
                                <a class="navPage-childList-action navPages-action" href="/kosher">Kosher</a>
                            </li>
                        </ul>
                    </li>
                    <li class="navPage-subMenu-item">
                        <a 
                            class="navPage-subMenu-action navPages-action has-subMenu"
                            href="/shop/gifts"
                            data-collapsible="navPages-catShopByGifts"
                            data-collapsible-disabled-state="open"
                            data-collapsible-enabled-state="closed"
                            aria-controls="navPages-catShopByGifts"
                            aria-expanded="false"
                        >Gifts</a>
                        <ul class="navPage-childList" id="navPages-catShopByGifts">
                            <li class="navPage-childList-item">
                                <a class="navPage-childList-action navPages-action" href="/all-gifts">All</a>
                            </li>
                            <li class="navPage-childList-item">
                                <a class="navPage-childList-action navPages-action" href="/under-30-dollars">Under $30</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </li>
        <li class="navPages-item">
            <a class="navPages-action teal-text" href="/join">join</a>
        </li>
        <li class="navPages-item">
            <a class="navPages-action greenapple-text" href="/host">host</a>
        </li>
        <li class="navPages-item frame-text">
            <a class="navPages-action" href="/recipes">recipes</a>
        </li>
        <li class="navPages-item frame-text">
            <a class="navPages-action" href="/blog">blog</a>
        </li>
    </ul>
    <ul class="navPages-list navPages-list--user">
        {{#if currency_selector.currencies.length '>' 1}}
            <li class="navPages-item">
                <a class="navPages-action has-subMenu" href="#" data-collapsible="navPages-currency" aria-controls="navPages-currency" aria-expanded="false">
                    {{lang 'common.currency' code=currency_selector.active_currency_code}} <i class="icon navPages-action-moreIcon" aria-hidden="true"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-chevron-down"></use></svg></i>
                </a>
                <div class="navPage-subMenu" id="navPages-currency" aria-hidden="true" tabindex="-1">
                    <ul class="navPage-subMenu-list">
                        {{#each currency_selector.currencies}}
                        <li class="navPage-subMenu-item">
                            <a class="navPage-subMenu-action navPages-action" href="{{{switch_url}}}">
                                {{#if is_active}}
                                    <strong>{{name}}</strong>
                                {{else}}
                                    {{name}}
                                {{/if}}
                            </a>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </li>
        {{/if}}
        {{#if settings.gift_certificates_enabled}}
            <li class="navPages-item">
                <a class="navPages-action" href="{{urls.gift_certificate.purchase}}">{{lang 'common.gift_cert'}}</a>
            </li>
        {{/if}}
        {{#if customer.store_credit.value '>' 0}}
            <li class="navPages-item">
                <a class="navPages-action navPages-action--storeCredit">
                    {{lang 'common.store_credit_overview' credit=customer.store_credit.formatted}}
                </a>
            </li>
        {{/if}}
        {{#if theme_settings.product_list_display_mode '==' 'list'}}
            <li class="navPages-item">
                <a class="navPages-action navPages-action--compare" href="{{urls.compare}}" data-compare-nav>{{lang 'common.compare'}} <span class="countPill countPill--positive countPill--alt"></span></a>
            </li>
        {{/if}}
        {{#if customer}}
            <li class="navPages-item">
                <a class="navPages-action has-subMenu" href="{{urls.account.index}}" data-collapsible="navPages-account">
                    {{lang 'common.account'}} <i class="icon navPages-action-moreIcon" aria-hidden="true"><svg><use xlink:href="#icon-chevron-down" /></svg></i>
                </a>
                <div class="navPage-subMenu" id="navPages-account" aria-hidden="true" tabindex="-1">
                    <ul class="navPage-subMenu-list">
                        <li class="navPage-subMenu-item">
                            <a class="navPage-subMenu-action navPages-action" href="{{urls.account.orders.all}}">{{lang 'account.nav.orders'}}</a>
                        </li>
                        {{#if settings.returns_enabled}}
                            <li class="navPage-subMenu-item">
                                <a class="navPage-subMenu-action navPages-action" href="{{urls.account.returns}}">{{lang 'account.nav.returns'}}</a>
                            </li>
                        {{/if}}
                        <li class="navPage-subMenu-item">
                            <a class="navPage-subMenu-action navPages-action" href="{{urls.account.inbox}}">{{lang 'account.mobile_nav.messages'}}</a>
                        </li>
                        <li class="navPage-subMenu-item">
                            <a class="navPage-subMenu-action navPages-action" href="{{urls.account.addresses}}">{{lang 'account.nav.addresses'}}</a>
                        </li>
                        {{#if settings.show_payment_methods}}
                            <li class="navPage-subMenu-item">
                                <a class="navPage-subMenu-action navPages-action" href="{{urls.account.payment_methods.all}}">{{lang 'account.nav.payment_methods'}}</a>
                            </li>
                        {{/if}}
                        <li class="navPage-subMenu-item">
                            <a class="navPage-subMenu-action navPages-action" href="{{urls.account.wishlists.all}}">{{lang 'account.mobile_nav.wishlists'}}</a>
                        </li>
                        <li class="navPage-subMenu-item">
                            <a class="navPage-subMenu-action navPages-action" href="{{urls.account.recent_items}}">{{lang 'account.nav.recently_viewed'}}</a>
                        </li>
                        <li class="navPage-subMenu-item">
                            <a class="navPage-subMenu-action navPages-action" href="{{urls.account.details}}">{{lang 'account.nav.settings'}}</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="navPages-item">
                <a class="navPages-action" href="{{urls.auth.logout}}">{{lang 'common.logout'}}</a>
            </li>
        {{else}}
            <li class="navPages-item">
                <a class="navPages-action" href="{{urls.auth.login}}">{{lang 'common.login'}}</a>
                {{#if settings.account_creation_enabled}}
                    {{lang 'common.or'}} <a class="navPages-action" href="{{urls.auth.create_account}}">{{lang 'common.sign_up'}}</a>
                {{/if}}
            </li>
        {{/if}}
        {{#if theme_settings.social_icon_placement_top}}
            <li class="navPages-item">
                {{> components/common/social-links}}
            </li>
        {{/if}}
    </ul>
</nav>
