<!-- Find a Party bar -->
<div class="partybar">
    <div id="partybar-find" class="partybar-container">
        <p class="partybar-text">
          Find a party
        </p>
        <span class="fa fa-caret-right" aria-hidden="true"></span>
    </div>
    <div class="partybar-accordion">
        <div class="partybar-button">
            <p class="partybar-text">
                view party
            </p>
        </div>
        <div class="partybar-button">
            <p class="partybar-text">
                switch parties
            </p>
        </div>
    </div>
</div>
