{{#if settings.add_this.buttons}}
    <div class="addthis_toolbox addthis_32x32_style" addthis:url="{{url}}"
         addthis:title="{{title}}">
        <div class="socialLinks-title">
            <span class="socialLinks-titleText teal-text frameheading-3">Share</span>
        </div>
        <ul class="socialLinks social-links">
            {{#each settings.add_this.buttons}}
                <li class="socialLinks-item socialLinks-item--{{service}}">
                    <a class="icon-social-{{service}} addthis_button_{{service}} icon icon--{{service}}" {{{annotation}}}>
                        {{#if service '===' 'email'}}
                            <svg>
                                <use xlink:href="#icon-envelope"/>
                            </svg>
                        {{else if service '===' 'print'}}
                            <svg>
                                <use xlink:href="#icon-print"/>
                            </svg>
                        {{/if}}
                    </a>
                </li>
            {{/each}}
            <li>
                <button class="button-secondary socialLinks-copy" type="button">Copy Link</button>
            </li>
        </ul>
        <script type="text/javascript"
                defer src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4e94ed470ee51e32"></script>
        <script>
            window.addEventListener('DOMContentLoaded', function() {
                if (typeof(addthis) === "object") {
                    addthis.toolbox('.addthis_toolbox');
                }
            });
        </script>
    </div>
    <!-- Copy link to clipboard notification. Hidden by default -->
    <p class="link-copied-text subhead-14 teal-text">Copied to clipboard</p>
{{/if}}
{{#if settings.facebook_like_button.enabled}}
    <iframe
        class="facebook{{#if settings.facebook_like_button.verb '===' 'recommend'}}Recommend{{else}}Like{{/if}}Btn"
        style="border:none; overflow:hidden; margin: 0; padding: 0; position:absolute"
        src="https://www.facebook.com/plugins/like.php?href={{settings.facebook_like_button.href}}&amp;layout=button_count{{#if settings.facebook_like_button.verb '===' 'recommend'}}&amp;action=recommend{{/if}}&amp;colorscheme=light&amp;height=20"
        scrolling="no"
        frameborder="0"
        allowTransparency="true">
    </iframe>
{{/if}}
