<div class="modal-overlay" id="shipping-modal">
    <div class="modal-overlay-content-wrapper">
        <svg class="modal-overlay-content-wrapper--close-header-icon shipping-modal-close"><use xlink:href="#icon-close" /></svg>
        <h1 class="heading--1">Shipping Information Table</h1>
        <div id="content">
            <table class="dataTable dataTable_fancy js-responsiveTable">
                <thead>
                <tr>
                    <th>Destination</th>
                    <th>Shipping options</th>
                    <th class="dataTable_fancy-hdg mix-dataTable_right">Order total</th>
                    <th class="dataTable_fancy-hdg">Shipping rate</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td style="width: 30%;">
                        48 contiguous U.S. states<br>
                        (excluding APO/FPO)
                    </td>
                    <td style="width: 30%;">
                        Ground
                    </td>
                    <td class="mix-dataTable_right" style="width: 20%;">
                        Up to $59.99<br>
                        <span class="mix-dataTable_textNote">$60.00 or more</span>
                    </td>
                    <td style="width: 20%;">$7.99<br>
                        <span class="mix-dataTable_textNote">14% of total order</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        48 contiguous U.S. states<br>
                        (excluding APO/FPO)
                    </td>
                    <td>
                        Rush Processing: Orders must be placed by 9:00 am Central Time in order to be processed the same business day. Standard shipping timelines will still apply.
                    </td>
                    <td class="mix-dataTable_right">
                        Up to $59.99<br>
                        <span class="mix-dataTable_textNote">$60.00 or more</span>
                    </td>
                    <td>$6.99 + $9.99 Rush Processing Fee<br>
                        <span class="mix-dataTable_textNote">12% of total order + $9.99 Rush Processing Fee</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        48 contiguous U.S. states<br>
                        (excluding APO/FPO)
                    </td>
                    <td>
                        2nd day air*
                    </td>
                    <td class="mix-dataTable_right">
                        Up to $149.99<br>
                        <span class="mix-dataTable_textNote">$150.00 or more</span>
                    </td>
                    <td>$39.95<br>
                        <span class="mix-dataTable_textNote">25% of total order</span>
                    </td>
                </tr>
                <tr>
                    <td>AK/HI/PR 2-day air rates</td>
                    <td>
                        2nd day air**</td>
                    <td class="mix-dataTable_right">
                        Up to $149.99<br>
                        <span class="mix-dataTable_textNote">$150.00 or more</span>
                    </td>
                    <td>$49.95<br>
                        <span class="mix-dataTable_textNote">30% of total order</span>
                    </td>
                </tr>
                <tr>
                    <td>AK/HI/PR Ground Rates<br>
                        (default)</td>
                    <td>
                        Ground**</td>
                    <td class="mix-dataTable_right">
                        Up to $149.99<br>
                        <span class="mix-dataTable_textNote">$150.00 or more</span>
                    </td>
                    <td>$29.95<br>
                        <span class="mix-dataTable_textNote">20% of total order</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        Military APO/FPO
                    </td>
                    <td>
                        Priority mail only
                    </td>
                    <td class="mix-dataTable_right">
                        Up to $149.99<br>
                        <span class="mix-dataTable_textNote">$150.00 or more</span>
                    </td>
                    <td>$29.95<br>
                        <span class="mix-dataTable_textNote">20% of total order</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        Military APO/FPO
                    </td>
                    <td>
                        Ground
                    </td>
                    <td class="mix-dataTable_right">
                        Up to $59.99<br>
                        <span class="mix-dataTable_textNote">$60.00 or more</span>
                    </td>
                    <td>$7.99<br>
                        <span class="mix-dataTable_textNote">14% of total order</span>
                    </td>
                </tr>
                </tbody>
            </table>
            <p>*Shipping to PO Boxes not available via 2nd day air in the 48 contiguous U.S. states.<br>
                ** Shipping to PO Boxes not available to AK/HI/PR via Ground or 2nd day air.</p></div>
        <div class="userContent media-bd"><h4>Shipping Times &amp; Tracking</h4>
            <ul>
                <li><strong>Standard delivery (ground)</strong>: Your order will arrive within 10 business days</li>
                <li><strong>Rush Processing</strong>: Move your order to the front of the line when you select rush processing during checkout. Rush orders placed by 9am CT will be processed and shipped the same day (excluding weekends and company-designated holidays). Orders received after 9am CT will ship the next business day. Standard shipping timelines still apply. Consult the UPS website for transit time estimates.</li>
                <li><strong>2nd day air</strong>: Orders placed by 12:00 pm CT on a business day will arrive 2 business days after the order was placed. Orders placed after 12:00 pm on a business day will arrive 3 business days after the order was placed. </li>
                <li><strong>APO/FPO Priority mail</strong>:
                    <ul>
                        <li>Priority mail - Packages are typically delivered to the final destination within 14 business days after the order is placed.</li>
                        <li>Standard delivery (ground) - Packages are delivered to the APO/FPO facility in the U.S. within 10 business days. Packages are then shipped by the military to foreign bases when space is available. This may take 6-8 weeks for final delivery to the recipient.</li>
                    </ul>
                </li>
            </ul>
            <h4>Tracking</h4>
            <p>Wondering exactly when your shipment will arrive? Sign in to your account, or if you don't have one yet, create an account so you can track your orders in the future. <br>
                <a href="/login.php" target="_blank">sign in or create an account »</a></p></div>
            <div class="modal-overlay--close-footer shipping-modal-close">
                <svg class="modal-overlay--close-footer-icon"><use xlink:href="#icon-close" /></svg><p>close</p>
            </div>
        </div>
    </div>
</div>
