<script type="text/javascript">
    (function(w) {
        w.TSCookie = {
            // Social Bug Affiliate ID
            setAffiliateId: function(afid) {
                Cookies.set('afid', afid, { expires: 365 });
            },

            getAffiliateId: function() {
                return Cookies.get('afid');
            },

            // Consultant ID
            setConsultantId: function(cid) {
                Cookies.set('cid', cid, { expires: 365 });
            },

            getConsultantId: function() {
                return Cookies.get('cid');
            },

            // Consultant XID
            setConsultantXid: function(cxid) {
                Cookies.set('cxid', cxid, { expires: 365 });
            },

            getConsultantXid: function() {
                return Cookies.get('cxid');
            },

            // Consultant Image
            setConsultantImage: function(cimg) {
                Cookies.set('cimg', cimg, { expires: 365 });
            },

            getConsultantImage: function() {
                return Cookies.get('cimg');
            },

            // Consultant Name
            setConsultantName: function(name) {
                Cookies.set('name', name, { expires: 365 });
            },

            getConsultantName: function() {
                return Cookies.get('name');
            },

            // Party Id
            setPartyId: function(pid, expirationDate) {
                expirationDate = expirationDate || 30;
                Cookies.set('pid', pid, { expires: expirationDate });
            },

            getPartyId: function() {
                return Cookies.get('pid');
            },

            // Party Host
            setPartyHost: function(phost, expirationDate) {
                expirationDate = expirationDate || 30;
                Cookies.set('phost', phost, { expires: expirationDate });
            },

            getPartyHost: function() {
                return Cookies.get('phost');
            },

            // Party Date
            setPartyDate: function(pdate, expirationDate) {
                expirationDate = expirationDate || 30;
                Cookies.set('pdate', pdate, { expires: expirationDate });
            },

            getPartyDate: function() {
                return Cookies.get('pdate');
            },

            // Party Time
            setPartyTime: function(ptime, expirationDate) {
                expirationDate = expirationDate || 30;
                Cookies.set('ptime', ptime, { expires: expirationDate });
            },

            getPartyTime: function() {
                return Cookies.get('ptime');
            },

            // Party Total
            setPartyTotal: function(ptotal, expirationDate) {
                expirationDate = expirationDate || 30;
                Cookies.set('ptotal', ptotal, { expires: expirationDate });
            },

            getPartyTotal: function() {
                return Cookies.get('ptotal');
            },

            // Delete Party cookies
            deleteParty: function() {
                Cookies.remove('pid');
                Cookies.remove('phost');
                Cookies.remove('pdate');
                Cookies.remove('ptime');
                Cookies.remove('ptotal');
            },

            deleteConsultant: function() {
                Cookies.remove('cid');
                Cookies.remove('name');
                Cookies.remove('cimg');
                Cookies.remove('afid');
            },

            setLoginStateChecker: function(loginState) {
                Cookies.set('loginStateChecker', loginState);
            },

            getLoginStateChecker: function() {
                return Cookies.get('loginStateChecker');
            },

            setSelectedKitId: function(id) {
                Cookies.set('selectedKitId', id, { expires: 365 });
            },

            getSelectedKitId: function() {
                return Cookies.get('selectedKitId');
            },

            // Debugging
            getTest: function() {
                return Cookies.get('_test');
            },

            setTest: function(value) {
                Cookies.set('_test', value);
            }
        };
    })(window);
</script>
