{{!-- TST-242 --}}
<script type="text/javascript">
    class TSCheckout {
        constructor(app) {
            this.observeApp(app);
        }

        observeApp(app) {
            this.observer = new MutationObserver(this.mutationCallback);

            if (app) {
                this.observer.observe(app, {
                    attributes: true,
                    subtree: true
                });
            } else {
                this.observer.disconnect();
            }
        }

        mutationCallback(mutations) {
            mutations.forEach(mutation => {
                const $phoneInput = document.querySelector('#phoneInput');
                const allowedChars = '0123456789';
                const isCharAllowed = keyValue => allowedChars.indexOf(keyValue) > -1;

                // TST-242
                // Only allow numbers and period characters
                // in the phone number input field
                if ($phoneInput) {
                    $phoneInput.addEventListener('keydown', (e) => {
                        if (!isCharAllowed(e.key) && e.key.length === 1) {
                            e.preventDefault();
                        }
                    });
                }
            });
        }
    }

    const checkoutApp = document.getElementById('checkout-app');
    const customCheckout = new TSCheckout(checkoutApp);
</script>
