<div id="yum-club-info">
    <div class="yum-info-internal">
        <p class="yum-club-msg">Your current Yum Club consultant is:<span id="yum-club-consultant"></span></p>
        <div class="icon-with-tooltip">
            <span class="icon-system-info"></span>
            <div class="tooltip-side-right">
                <div>
                    <span class="close-tooltip">x</span>
                    <h2 class="tooltip-title">What is a Yum Club consultant?</h2>
                    <p>Your Yum Club consultant earns commission on your Yum Club autoship subscriptions. </p>
                </div>
            </div>
        </div>
    </div>
    <a id="yum-edit" class="consultant-edit">Change my consultant</a>
</div>
