// =============================================================================
// Banners Component
// =============================================================================


// Banners
// -----------------------------------------------------------------------------
//
// Purpose: Control the look and feel of the top and bottom site banners
//
// -----------------------------------------------------------------------------

.banners {
    color: stencilColor("color-white");
    padding: spacing("half") 2rem;

    p:last-child {
        margin-bottom: 0;
        text-transform: uppercase;
    }

    a {
        color: color("whites", "bright");
        text-transform: none;
        text-decoration: none;
        font-weight: 800;
    }
}

.banner {
    @include grid-row;

    + .banner {
        margin-top: spacing("single");
    }
}
