// =============================================================================
// Tastefully Simple Footer Styles
// =============================================================================

.footer {
    padding: 0;
    // Set all colors to white as the footer uses a generic config value that we cannot re-define
    *[class^='footer-info-'],
    .footer-bottom {
        * {
            color:#fff;
        }
        a:hover {
            color:#fff;
        }
    }
    // end color override
    &>.footer-info {
        max-width:100%;
        margin:0;
        padding-top:30px;
        .container {
            font-size:0;
            padding:0;
            .footer-info-content{
                display:flex;
                flex-direction:column;
            }
            .footer-info-heading {
                @extend .framelink-lg;
                &:not(.tst-accordion-title) {
                    margin-top:1rem;
                    text-align:left;
                }
                &::after {
                    color:$green-apple;
                }
            }
            .footer-info-list{
                li{
                    padding:.2rem 0;
                }
            }
            .footer-newsletter {
                margin:auto;
                max-width:500px;
                .form {
                    margin-bottom:0;
                    .form-field {
                        margin-bottom:0;
                        .newsletter-inputs {
                            align-items:center;
                            display:flex;
                            .form-input {
                                flex: 2 2 200px;
                            }
                            button {
                                flex:1 1 100px;
                                margin-left:-20px;
                                margin-top:0;
                            }
                        }
                    }
                }
            }
            .footer-social {
                margin:1.4rem 0;
                padding-left:0;
                .socialLinks {
                    .socialLinks-item {
                        border:2px solid #fff;
                        border-radius:50%;
                        padding:8px;
                        .icon{
                            svg{
                                fill:#fff;
                            }
                        }
                    }
                }
            }
        }
    }
    .footer-bottom {
        background-color:$text-gray;
        .container {
            align-items:center;
            display:flex;
            flex-flow:column-reverse;
            justify-content:space-between;
            padding:1rem 0;
            &>div {
                align-items:center;
                display:flex;
                &.copyright-logos {
                    flex:2 2 50%;
                    justify-content:space-between;
                    .footer-copyright {
                        padding:0 1rem;
                        text-align:left;
                        &>.powered-by{
                            color: #fff;
                        }
                    }
                    .footer-logos {
                        display:flex;
                        a {
                            display:block;
                            padding:0 .5rem;
                        }
                    }
                }
                &.footer-use-links {
                    flex:1 1 30%;
                    justify-content:flex-end;
                    a {
                        text-decoration:none;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width:551px) and (max-width:820px) {
    .footer-info-col {
        display:block;
        text-align:center;
        width:auto;
    }
}
@media only screen and (min-width:820px) {
    .footer{
        .footer-bottom {
            background-color:$text-gray;
            .container {
                flex-flow:row;
            }
        }
        &>.footer-info {
            max-width:100%;
            margin:0;
            padding-top:30px;
            .container {
                font-size:0;
                padding:0;
                .footer-info-content{
                    flex-direction:row;
                }
                .footer-info-heading {
                    &:not(.tst-accordion-item){
                        margin-top:initial;
                    }
                }
            }
        }
    }
}
@media only screen and (min-width:820px) and (max-width:900px) {
    .footer {
        &>.footer-info {
            .container {
                .footer-social {
                    .socialLinks {
                        .socialLinks-item {
                            padding:6px;
                            &:not(:last-child) {
                                margin-right:0.4rem;
                            }
                            .icon{
                                height:1.2rem;
                                width:1.2rem;
                            }
                        }
                    }
                }
            }
        }
    }
}
