// =============================================================================
// Tastefully Simple Footer Styles
// =============================================================================

@media only screen and (min-width:820px){
    .header{
        max-width:1920px;
        .header-top{
            color:#fff;
            display:flex;
            justify-content:space-between;
            &>div{
                flex:2 2 50%;
                &.header-top-links{
                    align-items:center;
                    display:flex;
                    justify-content:flex-end;
                }
            }
        }
        .header-main{
            display:flex;
            .navPages-action{
                @extend .framelink-xl;
                text-transform:unset;
            }
        }
    }
}

