$COLOR_PRIMARY_100: #00757D;
$COLOR_PRIMARY_200: skyblue;

$COLOR_SECONDARY_100: #A8B723;
$COLOR_SECONDARY_200: #7F4252;

$COLOR_BLACK: #222222;
$COLOR_WHITE: #fefefe;

$COLOR_GRAY_25:  #F1F0EE;
$COLOR_GRAY_50:  #BEBEBE;
$COLOR_GRAY_100: #dddddd;
$COLOR_GRAY_150: #F1F0EE;
$COLOR_GRAY_200: #999999;
$COLOR_GRAY_300: #323232;
