@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');

$FONT_FAMILY_PRIMARY: 'Questrial';
$FONT_FAMILY_SECONDARY: 'Neuton';

/* Questrial font does not currently have font weights other than 400 */

$FONT_WEIGHT_LIGHT: 400;
$FONT_WEIGHT_NORMAL: 400;
$FONT_WEIGHT_SEMIBOLD: 400;
$FONT_WEIGHT_BOLD: 400;
$FONT_WEIGHT_BLACK: 400;

$FONT_SIZE_BASE: 16px;
$FONT_SIZE_SMALL: 12px;
$FONT_SIZE_MEDIUM: 18px;
$FONT_SIZE_LARGE: 24px;
$FONT_SIZE_XLARGE: 34px;


