@import url('https://fonts.googleapis.com/css?family=Saira:300,500,600,700,900&display=swap');

$FONT_FAMILY_PRIMARY: 'Saira';

$FONT_WEIGHT_LIGHT: 300;
$FONT_WEIGHT_NORMAL: 500;
$FONT_WEIGHT_SEMIBOLD: 600;
$FONT_WEIGHT_BOLD: 700;
$FONT_WEIGHT_BLACK: 900;

$FONT_SIZE_BASE: 16px;
$FONT_SIZE_SMALL: 12px;
$FONT_SIZE_LARGE: 10px;
