
a,p{
    font-size: 22px;
    margin: 0;
    line-height: 1.1em;
}

.logo {
    padding-bottom: 20px; 
}
  
img.404-hero{
    height: auto;
    width: 100%;
}

//--- Grid ----------------------------------------
.grid-container {
    padding-top: 10px;
    width: 850px;
    margin: auto;
    display: grid;
    grid-template-columns: 65px 1fr 1fr 1fr;
    grid-template-rows: 100px 100px 100px 100px;
    gap: 1px 1px;
    grid-template-areas: "img-1 row-1 row-1 row-1" "img-2 row-2 row-2 row-2" "img-3 row-3 row-3 row-3" "img-4 row-4 row-4 row-4";
}
//--- Icons ----------------------------------------
.icon-positioned{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: top;
    align-content: stretch;
    padding: 10px 10px 0 0;
}

.icon-sized{
    @extend .all-icons;
    height: 50px;
    width: 55px;
}

.book-mark{
    background-image: url('../img/icons/BookmarkIcon.jpg');
    @extend .icon-sized

}

.view-special-offers-icon{
    background-image: url('../img/icons/ViewSpecialOffersIcon.jpg');
    @extend .icon-sized;
}

.phone-icon{
    background-image: url('../img/icons/PhoneIcon.jpg');
    @extend .icon-sized;
}

.house-icon{
    background-image: url('../img/icons/HouseIcon.jpg');
    @extend .icon-sized;
}

.img-1 {
    grid-area: img-1;
    @extend .icon-positioned
    }
  
.row-1 {
    grid-area: row-1; 
}
  
.row-2 {
    grid-area: row-2; 
}

.img-2 {
    grid-area: img-2;
    @extend .icon-positioned 
}

.img-3 {
    grid-area: img-3;
    @extend .icon-positioned
}

.row-3 {
    grid-area: row-3; 
}

.img-4 {
    grid-area: img-4;
    @extend .icon-positioned
}

.row-4 {
    grid-area: row-4; 
}
 
.img-1, .row-1, .img-2, .row-2, .img-3, .row-3, .img-4, .row-4 {
    margin-top: 20px; 
}