
section{
    margin-top: 10px;
}
a,p{
    font-size: 22px;
    margin: 0;
    line-height: 1.1em;
}

.link-404{
    font-weight: 700;
}

#logo{
    width: 45%;
    float: left;
    padding-bottom: 10px;
    padding-left: 20px;
}
  
img#404-hero{
    height: auto;
    width: 100%;
}

//--- Grid ----------------------------------------
.grid-container {
    padding-top: 10px;
    width: 60%;
    margin: auto;
    display: grid;
    grid-template-columns: .4fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 5px 1px;
    grid-template-areas: "row-1 col-1 col-1 col-1" "row-2 col-2 col-2 col-2" "row-3 col-3 col-3 col-3" "row-4 col-4 col-4 col-4";
}
//--- Icons ----------------------------------------
.icon-positioned{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: top;
    align-content: stretch;
    padding: 5px 10px 0 0;
}

.icon-sized{
    @extend .all-icons;
    height: 55px;
    width: 55px;
}

.book-mark{
    background-image: url('../img/icons/BookmarkIcon.jpg');
    @extend .icon-sized

}

.view-special-offers-icon{
    background-image: url('../img/icons/ViewSpecialOffersIcon.jpg');
    @extend .icon-sized;
}

.phone-icon{
    background-image: url('../img/icons/PhoneIcon.jpg');
    @extend .icon-sized;
}

.house-icon{
    background-image: url('../img/icons/HouseIcon.jpg');
    @extend .icon-sized;
}

.img-1 {
    grid-area: row-1;
    @extend .icon-positioned
    }
  
.row-1 {
    grid-area: col-1; 
}
  
.row-2 {
    grid-area: col-2; 
}

.img-2 {
    grid-area: row-2;
    @extend .icon-positioned 
}

.img-3 {
    grid-area: row-3;
    @extend .icon-positioned
}

.row-3 {
    grid-area: col-3; 
}

.img-4 {
    grid-area: row-4;
    @extend .icon-positioned
}

.row-4 {
    grid-area: col-4; 
}
 
[class*="col-"]{
    margin-top: 20px; 
}

@media only screen and (max-width: 768px) {

    .icon-positioned{
        padding: 2px 5px 0 0;
    }
    .icon-sized{
        height: 30px;
        width: 30px;
    }
    .grid-container {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
    // #logo{
    //     height: auto;
    //     width: 200px;
    // }
    a,p {
      font-size: 14px;
    }
}
