
a,p{
    font-size: 22px;
    margin: 0;
    line-height: 1.1em;
}

.body {
    margin-top: 0;
}
.container {
    padding: 0;
}

.link-404{
    font-weight: $fontWeight-bold;
    line-height: 1.1em;
}

#logo{
    width: 30%;
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 25px;
}
  
#404-hero{
    width: 100%;
}

.ts-phone{
    color: $teal;
    font-weight: $fontWeight-bold;
}
//--- Content Layout ----------------------------------------
.flex-col {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}
.flex-responsive {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}

//--- Icons ----------------------------------------
.icon-positioned{
    padding: 5px 10px 0 0;
}

.icon-sized{
    @extend .all-icons;
    height: 3em;
    width: 3em;
}

.book-mark{
    background-image: url('../img/icons/BookmarkIcon.jpg');
    @extend .icon-sized

}

.view-special-offers-icon{
    background-image: url('../img/icons/ViewSpecialOffersIcon.jpg');
    @extend .icon-sized;
}

.phone-icon{
    background-image: url('../img/icons/PhoneIcon.jpg');
    @extend .icon-sized;
}

.house-icon{
    background-image: url('../img/icons/HouseIcon.jpg');
    @extend .icon-sized;
}


@media only screen and (max-width: 768px) {

    body {
        padding-top: 0;
    }
    .body {
        margin-top: 0;
        margin-bottom: 20px;
    }

    .header {
        position: static;
      }
    .header-top {
        padding: 0 $container-padding;
    }
    .container {
        padding: 0;
    }

    .icon-positioned{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0 0 1.5% 0;
    }
    .flex-responsive {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 15%;
        padding-right: 10%;
    }
    a,p {
      font-size: 14px;
    }
}
