<div class="cart-NoAffiliateInfo">
    <h4 id="cart-tastefully-simple-name">You are shopping with Tastefully Simple.</h4>
</div>

<div class="cart-affiliateInfo" id="cart-affiliate-info">

    <h4 id="cart-affiliate-name">You are shopping with independent consultant <b id="affiliate-name"></b>.</h4>
    <h4 id="cart-no-affiliate-name">You are shopping with an independent consultant.</h4>
    <a href="#" href="#find-affiliate-modal" data-reveal-id="find-affiliate-modal">
        {{lang 'cart.find_affiliate.button'}}
    </a>
</div>
