<div class="cart-affiliate">
    <div class="cart-affiliate-consultant">
        <img class="cart-affiliate-img grid-card" src="{{ cdn 'assets/img/noconsultantphoto.png' }}" alt="Photograph thumbnail of Tastefully Simple"/>
        <div class="cart-affiliate-info">
            <p class="cart-affiliate-name">Are you shopping with a <br/> <strong class="affiliate-name">consultant?</strong>
               <button type="button" class="modal-button cart-affiliate-btn framelink-md">
                   Find Them Here
               </button>
            </p>
        </div>
    </div>
</div>
