<div class="cart-affiliate">
    <img class="cart-affiliate-img" src="https://cdn11.bigcommerce.com/s-o55vb7mkz/images/stencil/80w/products/256/520/TheEssentialFourCollection-SS20__28163.1589558759.jpg?c=2" alt="Hardcoded image will be replaced by Affiliate image, and alt-text should read 'Photograph thumbnail of $affiliateName'"/>
    <div class="cart-affiliate-info">
        <p class="cart-affiliate-name">You are shopping with <br/> <strong class="affiliate-name">Tastefully Simple</strong></p>
        <button type="button" class="modal-button">
            <span><small class="cart-affiliate-btn">(Find a Consultant)</small></span>
        </button>
    </div>
</div>
