<div>
    <form id="ts-affiliate-cart-form" class="ts-affiliate-cart-form">
        <label class="tick-enabled frame-caption">
            <input type="radio" id="tsacf-findparty" name="tsacf-item" checked value="Yes, help me find my party or fundraiser"/>
            Yes, help me find my party or fundraiser
            <span class="icon-system-info"></span>
        </label>
        <div class="tooltip-right" style="display:none;">
            <div>
                <span class="close-tooltip">x</span>
                <p>Checking this option will allow you to search through Tastefully Simple's discontinued product list</p>
            </div>
        </div>
        <label class="tick-enabled frame-caption">
            <input type="radio" id="tsacf-findconsultant" name="tsacf-item" value="Yes, help me find my consultant"/>
            Yes, help me find my consultant
            <span class="icon-system-info"></span>
        </label>
        <div class="tooltip-right" style="display:none;">
            <div>
                <span class="close-tooltip">x</span>
                <p>Checking this option will allow you to search through Tastefully Simple's discontinued product list</p>
            </div>
        </div>
        <label class="tick-enabled frame-caption">
            <input type="radio" id="tsacf-shopdirect" name="tsacf-item" value="No, shop directly with Tastefully Simple"/>
            No, shop directly with Tastefully Simple
        </label>
    </form>
</div>
