<div class="cart-affiliate-consultant-selected">
    <div class="cart-affiliate-consultant">
        <img class="cart-affiliate-img" src="https://tso.tastefullysimple.com/_/media/images/noconsultantphoto.png" alt="Photograph thumbnail of Betty Evans" style="display: initial;">
        <div class="cart-affiliate-info">
            <p class="cart-affiliate-name frameheading-4"></p>
            <div class="consultant-info-control">
                <p class="frame-subhead">
                    <span>is my consultant</span>
                    <button type="button" class="framelink-sm modaltrigger-consult">
                        <span class="cart-affiliate-btn consultant-edit">edit</span>
                    </button>
                    <span class="teal-text">&verbar;</span>
                    <button type="button" class="framelink-sm">
                        <span class="cart-affilitiate-btn consultant-remove">remove</span>
                    </button>
                </p>
            </div>
        </div>
    </div>
    <div class="cart-affiliate-party-state"></div>
</div>
