<div class="cart-affiliate-consultant-selected">
    <div class="cart-affiliate-consultant">
        <img class="cart-affiliate-img" src="https://tso.tastefullysimple.com/_/media/images/noconsultantphoto.png" alt="Photograph thumbnail of Betty Evans" style="display: initial;">
        <div class="cart-affiliate-info">
            <p class="cart-affiliate-name frame-subhead">
                <span class="frameheading-4">Betty Evans</span></strong><br/>
                <span>is my consultant</span>
                <button type="button" class="framelink-sm">
                    <span class="cart-affiliate-btn">edit</span>
                </button>
                <button type="button" class="framelink-sm">
                    <span class="cart-affiliate-btn">remove</span>
                </button>
            </p>
        </div>
    </div>
    <div class="cart-affiliate-party">
        <p class="cart-affiliate-party-name frame-subhead"><span class="frameheading-4">Sarah Smith</span> is my host <button type="button" class="framelink-sm">remove</button></p>
    </div>
    <div class="cart-affiliate-party noparty">
        <p class="cart-affiliate-party-name frame-subhead">I'm shopping without a party or fundraiser</p>
        <p><button type="button" class="framelink-sm">view Sarah Smith's parties</button></p>
        <p><button type="button" class="framelink-sm">view all parties</button></p>
    </div>
</div>
