{{!-- Custom Partybar --}}
<div class="consultant-partybar">
    <div id="consultant-partybar-container" class="consultant-partybar-container">
        <div class="partybar-left">
            <div id="partybar-find" class="consultant-partybar find-partybar">
                <a class="navPages-action menu-headertoplinks partybar-main-text" id="find-party-mobile-text">Find a Party or a Fundraiser</a></div>
            {{!--
                TST-436
                * Items in partybar-accordion are manipulated in
                  the find-party.js script
            --}}
            <div class="partybar-accordion">
            </div>
        </div>
        <div class="partybar-right">
            <li class="navPages-item navPages-item-consultant">
                <a class="navPages-action teal-text partybar-consult">find a consultant</a>
            </li>
        </div>
    </div>
</div>