// =============================================================================
// Tastefully Simple Autoship Styles
// =============================================================================

#modal.auto-ship {
    height: 65vh;
    margin-top: 0;
    max-height: 450px;
    min-height: 240px;
    &.login {
        height: 90vh;
        max-height: 90%;
        width: 80%;
        #to-login {
            margin-left: 15px;
        }
    }
    &.choose {
        max-height: 500px;
        h4, p {
            margin-top: 0;
        }
    }
    &.choose-with-party {
        max-height: 600px;
        @media only screen and (min-width:500px) {
            max-height: 500px;
        }
    }
    .modal-content {
        height: 100%;
        .modal-general-alternate {
            height: 100%;
        }
        .cart-sub-body {
            height: 95%;
            overflow-y: auto;
            .page, .page-content{
                height: 97%;
            }
            .page-content {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                @media only screen and (min-width:490px) {
                    p {
                        margin-bottom: 0;
                    }
                }
            }
            &.auto-ineligible {
                margin: auto;
                max-width:80%;
            }
            &.auto-choose {
                margin: auto;
                max-width: 80%;
                @media only screen and (min-width:720px) {
                    max-width: 60%;
                }
                #choose-consultant-options {
                    >div:first-child {
                        margin-bottom: 3vh;
                    }
                }
            }
            &.auto-reg {
                .account-body {
                    margin: 0 auto;
                    padding: 0 1rem;
                }
                .form-row {
                    margin: 0 auto;
                }
            }
            .page-heading {
                font-size: 22px;
                font-weight: 400;
                font-family: $FONT_FAMILY_SECONDARY,Arial,Helvetica,sans-serif;
                margin-bottom: 0;
                margin-top: 20px;
            }
            .sub-text {
                display: none;
            }
            button {
                display: block;
                margin: 2vh auto 2vh;
            }
            div[class^="alertbox-"] {
                margin-top: 2vh;
                width: 80%;
            }
            &.autoship-login {
                .alertbox-error {
                    display: none;
                }
                .login-row {
                    margin-top: 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    .form-actions {
                        align-items: center;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        margin-bottom: 2vh;
                        margin-top: 0;
                    }
                    .login-form {
                        align-self: center;
                        align-items: center;
                        justify-content: center;
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        margin: 0;
                        .form-field {
                            align-self: center;
                            align-items: center;
                            justify-content: center;
                        }
                    }
                    .new-customer {
                        float: none;
                        width: 80%;
                        .panel {
                            border: 2px solid $burgundy;
                            margin-bottom: 2vh;
                            .panel-body {
                                margin-bottom: 0;
                            }
                        }
                    }
                }
                .account-body {
                    margin: 0 auto;
                    max-width: 80%;
                }
            }
        }
    }
}

