// =============================================================================
// Tastefully Simple Cart Styles
// =============================================================================

.cart {
    .headertoplinks-consult {
        display:none;
    }
    .cart-affiliate {
        align-items:center;
        background-color: $cream;
        display:flex;
        flex-direction: column;
        justify-content:center;
        margin-top:5.5rem;
        min-height:120px;
        padding:.5rem 0 0;
        &+.body {
            margin-top:0;
        }
        .cart-affiliate-consultant {
            display: flex;
            margin-bottom: 1rem;
            .cart-affiliate-img {
                border-radius: 2px;
                padding: .15rem;
                background-color: white;
                font-size: 12px;
                margin: 0.5rem;
                max-width: 83px;
                height: 83px;
                width: auto;
            }
            .cart-affiliate-info {
                align-items:center;
                display:flex;
                margin:0 .5rem;
                .cart-affiliate-name {
                    margin-bottom:0;
                    .affiliate-name {
                        @extend .frameheading-1;
                    }
                .cart-affiliate-btn.framelink-md {
                    font-weight: 700;
                }
                }
            }
        }
        .cart-affiliate-party {
            background-color: $green-apple;
            color: white;
            display: flex;
            justify-content: center;
            width: 100%;

            p {
                margin: 0.5rem 0;
            }
        }
    }
    .cart-total {
        .shipping-estimator {
            .form-select {
                height: auto;
                padding: 0.4rem 0.75rem;
            }
        }
    }
    .cart-actions {
        .button {
            text-transform:lowercase;
            &.button--tertiary {
                background-color: $white;
            }
        }
        .button--primary {
            outline: none !important;
        }
    }
}

@media only screen and (min-width:801px) {
    .cart {
        .cart-affiliate {
            margin-top:0;
            min-height:0;
            .cart-affiliate-info {
                .cart-affiliate-name {
                    br {
                        display:none;
                    }
                }
            }
            .partybar {
                width: 100%;
            }
            .cart-affiliate-party {
                display: none;
            }
        }
    }
}

// Cart Preview (cart icon)
// TST-279 Hide 'checkout now' button
.previewCartAction {
    .previewCartAction-checkout {
        display: none;
    }
    .previewCartAction-viewCart {
        width: 100%;
    }
}

// =============================================================================
// Cart Subscription Styles
// =============================================================================
#modal {
    .modal-content {
        #cart-sub-login {
            .cart-sub-body {
                max-height: none;
                .alertbox-error {
                    display: none;
                }
                .page-heading {
                    margin-top: 20px;
                    font-size: 22px;
                    font-weight: 400;
                    font-family: $FONT_FAMILY_SECONDARY,Arial,Helvetica,sans-serif;
                    margin-bottom: 0;
                }
                .login-row {
                    margin-top: 0;
                    display: flex;
                    flex-direction: column;
                    .form-actions {
                        display: flex;
                    }
                    .login-form {
                        align-self: center;
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        margin: 0;
                        .form-field {
                            width: 55%;
                            align-self: center;
                        }
                    }
                }
            }
        }
        .cart-sub-body {
            .sub-text {
                display: none;
            }
        }
    }
}
