/* Consultant Details Styles */

/* Basic Info Section */
.consultant-details {
    display: flex;
    justify-content: center;
    text-align: center;

    h2 {
        margin-top: 0.5rem;
        margin-bottom: 0;
    }

    p {
        margin-bottom: 0.4rem;
    }

    .cdetails-summary,
    .cdetails-more-info {
        max-width: 330px;
        padding: 1rem;
    }

    // COLUMN 1
    .cdetails-summary {
        .cdetails-img {
            border-radius: 2px;
            padding: 0.75rem;
        }
    }

    // COLUMN 2
    .cdetails-more-info {
        .cdetails-heading {
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
        }
        button {
            display: block;
            max-width: 253px;
            width: 100%;
            margin: 0 auto;
            margin-bottom: 1rem;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
        }
    }
}

/* My Parties Section */
.consultant-parties {
    max-width: 300px;
    width: 100%;

    h2 {
        text-align: center;
    }

    .tabs {
        border-bottom: 1px solid $silver;
        .tab.is-active {
            border: 0;
            border-bottom: 4px solid $green-hover;
            .tab-title {
                outline: none;
            }
        }

        .tab {
            max-width: 150px;
            width: 100%;
            .tab-title {
                text-align: center;
            }
        }
    }

    .tab-contents {
        .party-card {
            align-items: center;
            display: flex;
            justify-content: space-between;
            .party-info {
                //border: 1px solid blue;
                h4,
                p {
                    margin: 0;
                }
            }
            .party-shop {
                .party-shop-link {
                    color: $green-hover;
                    font-size: 1rem;
                    font-weight: 800;
                    text-decoration: none;
                }
            }
        }
        .party-divider {
            border-bottom: 1px solid $silver;
            margin: 1rem 0;
            width: 100%;
        }
    }
}
