@import url('https://cdn.rawgit.com/yeun/open-color/master/open-color.css');
@import url('https://rsms.me/inter/inter-ui.css');

:root {
  --easing: cubic-bezier(.5,0,.5,1);
}

*{ box-sizing: border-box; }

.confetti{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Inter UI', sans-serif;
  font-size: 1.6rem;
}
