.kit {

  .productView-details {
    @include visuallyHidden;
  }
  // Styling for shogun insert on Consultant Kit custom product template
  .shogun-root {
    margin-top: $SPACING_2;
    margin-bottom: $SPACING_2;
  }
  .productView-description {
    width: 100%;

    .shogun-image-container {
      height: 76px;
      width: 76px;
      margin: 0;
      overflow: hidden;

      @include breakpoint($BREAKPOINT_MEDIUM) {
        margin: 0 auto;
      }

      img {
        width: auto;
        max-width: 100px;
      }
    }

    p {
      margin: 0;
      font-size: 14px;
      line-height: 1.5;
    }

    .shg-row {
      margin-top: $SPACING_1;
      margin-bottom: $SPACING_1;
    }
  }
}

.kit-content-wrapper {
  width: 100%;

  .productView-img-container {
    max-width: none;
    margin: 0;

    img {
      position: relative;
      width: 100%;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }

    &:after {
      padding-bottom: 0;
    }
  }
}

.kit-content {
  position: relative;
  padding: $SPACING_5;

  .heading--1 {
    margin-top: $SPACING_8;
    font-weight: bold;

    @include breakpoint($BREAKPOINT_MEDIUM) {
      margin-top: 0;
    }
  }
}

.kit-price-sticker {
  position: absolute;
  right: 60px;
  top: -50px;
  height: 104px;
  width: 104px;
  background-color: $COLOR_SECONDARY_200;
  color: white;
  border-radius: 100%;
  text-align: center;

  .price {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    color: white;
    text-decoration: line-through;
    font-size: 14px;
  }

  .sale-price {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    color: white;
    font-size: 22px;
  }
}

.kit-price-table-wrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.kit-price-table {
  width: 100%;
  margin-bottom: $SPACING_4;

  @include breakpoint($BREAKPOINT_MEDIUM) {
    width: 50%;
  }

  &-details {
    display: flex;
    width: 100%;
    border-top: 1px solid $COLOR_PRIMARY_100;
    border-bottom: 1px solid $COLOR_PRIMARY_100;
  }

  .price-table-details-left {
    width: 100%;
    align-self: flex-end;
    margin-bottom: $SPACING_2;
    margin-top: $SPACING_1;

    p {
      margin-bottom: 0;
    }
  }

  .price-table-details-right {
    width: 100%;
    align-self: flex-end;
    margin-bottom: $SPACING_2;
    margin-top: $SPACING_1;
    text-align: right;

    p {
      margin-bottom: 0;
    }
  }

  .price-table-full-price {
    color: $COLOR_GRAY_50;
    font-size: 14px;
    text-decoration: line-through;
  }

  .price-table-free {
    color: $COLOR_GRAY_50;
    font-style: italic;
  }

  &-total {
    display: flex;
  }

  .price-table-total-title {
    width: 100%;

    .heading--3 {
      margin-top: $SPACING_1;
      font-weight: bold;
    }
  }

  .price-table-total-price {
    width: 100%;
    margin-top: 0;
    text-align: right;

    .heading--3 {
      margin-top: $SPACING_1;
      font-weight: bold;
    }
  }
}

.kit-button-wrapper {
  display: flex;
  justify-content: flex-end;

  #kit-page-next {
    display: flex;
    align-items: center;
    padding: 0.25rem 16px;
  }
}
