// =============================================================================
// Tastefully Simple Search Modal Styles
// =============================================================================

#modal {
    border-radius: 5px;
    min-height:0;
    width: 100%;
    .modal-close {
        display: none;
    }
    .modal-content {
        .vertical-bottom {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }
        .vertical-center {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .genmodal-header {
            border-radius: unset;
            height: 45px;
            h2 {
                margin-left: 5px;
            }
            .modal-close {
                display: block;
                .close-modal-alternate {
                    background-color: transparent;
                    right: -8px;
                    top: -18px;
                }
            }
        }
        .genmodal-body {
            padding: 15px 10px 0 10px;
            overflow-y: auto;
            max-height: 430px;
            .alertbox-error {
                background-color: $utility-error;
                display: none;
                width: 100%;
                margin-bottom: 15px;
                margin-top: 0;
            }
            .buy-wide-card {
                display: flex;
                flex-wrap: wrap;
                background-color: $color-white;
                margin: 0;
                margin-bottom: 13px;
                &.id-search {
                    margin-bottom: 15px;
                }
                .form-title {
                    margin: 15px 0;
                }
                .frame-text {
                    flex-basis: 100%;
                }
                .card-form {
                    display: flex;
                    flex-basis: 100%;
                    justify-content: flex-start;
                    & > * {
                        margin-right: 15px;
                    }
                    span {
                        font-size: 12px;
                        font-weight: 400;
                    }   
                    .input-label {
                        max-width: unset;
                        flex-basis: 28.5%;
                        input {
                            width: 100%;
                            height: 35px;
                            border-radius: 3px;
                        }
                    }
                    .simple-dropdown {
                        flex-basis: 28.5%;
                        label {
                            min-width: 80px;
                        }
                        select {
                            width: 100%;
                            height: 35px;
                            background-color: $wan-white;
                            border-radius: 3px;
                        }
                    }
                    .button-alternate {
                        margin: 0;
                    }
                }
                &.name-search {
                    .card-form {
                        .input-label {
                            min-width: 104px;
                        }
                    }
                }
            }
        }
        .modal-results {
            .genmodal-body {
                .buy-wide-card {
                    .result-card {
                        cursor:pointer;
                        &:not(.selected) {
                            padding-top:1rem;
                            .selected-header {
                                display: none;
                            }
                        }
                        &.selected {
                            margin-top:1rem;
                            border:.5rem solid $teal;
                            border-top:none;
                            .selected-header {
                                align-items:center;
                                background-color: $teal;
                                color: $white;
                                display: flex;
                                flex-basis: 100%; 
                                padding:10px 0;
                                .selection-title {
                                    color:$white;
                                    margin:0;
                                }
                                .icon-system-check {
                                    color:$white;
                                    font-size:2rem;
                                    margin-right:1rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
