// =============================================================================
// Tastefully Simple Search Modal Styles
// =============================================================================

#modal {
    border-radius: 5px;
    max-height:none;
    min-height:0;
    &.modal-results {
        height:100%;
    }
    .modal-close {
        display: none;
    }
    // fix issue with modal flickering in firefox
    .button {
        filter:grayscale(1%);
    }
    .modal-content {
        height:100%;
        .vertical-bottom {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }
        .vertical-center {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .genmodal-header {
            border-radius: unset;
            height: 45px;
            h2 {
                margin-left: 5px;
            }
            .modal-close {
                display: block;
                .close-modal-alternate {
                    background-color: transparent;
                    right: -8px;
                    top: -18px;
                }
            }
        }
        .genmodal-body {
            padding: 15px 10px 0 10px;
            overflow-y: auto;
            max-height: 330px;
            .alertbox-error {
                background-color: $utility-error;
                display: none;
                width: 100%;
                margin-bottom: 15px;
                margin-top: 0;
            }
            .buy-wide-card {
                display: flex;
                flex-wrap: wrap;
                background-color: $color-white;
                margin: 0;
                margin-bottom: 13px;
                &.id-search {
                    margin-bottom: 15px;
                }
                .form-title {
                    margin: 15px 0;
                }
                .frame-text {
                    flex-basis: 100%;
                }
                .card-form {
                    display: flex;
                    flex-basis: 100%;
                    justify-content: flex-start;
                    & > * {
                        margin-right: 15px;
                    }
                    span {
                        font-size: 12px;
                        font-weight: 400;
                    }   
                    .input-label {
                        max-width: unset;
                        flex-basis: 28.5%;
                        input {
                            width: 100%;
                            height: 35px;
                            border-radius: 3px;
                        }
                    }
                    .simple-dropdown {
                        flex-basis: 28.5%;
                        label {
                            min-width: 80px;
                        }
                        select {
                            width: 100%;
                            height: 35px;
                            background-color: $wan-white;
                            border-radius: 3px;
                        }
                    }
                    .button-alternate {
                        margin: 0;
                    }
                }
                &.name-search {
                    .card-form {
                        .input-label {
                            min-width: 104px;
                        }
                    }
                }
            }
        }
        .modal-results {
            height:100%;
            .genmodal-body {
                .buy-wide-card {
                    overflow-y: auto;
                    .result-card {
                        cursor:pointer;
                        &:not(.selected) {
                            padding-top:1rem;
                            .selected-header {
                                display: none;
                            }
                        }
                        &.selected {
                            margin-top:1rem;
                            border:.5rem solid $teal;
                            border-top:none;
                            .selected-header {
                                align-items:center;
                                background-color: $teal;
                                color: $white;
                                display: flex;
                                flex-basis: 100%; 
                                padding:10px 0;
                                .selection-title {
                                    color:$white;
                                    margin:0;
                                }
                                .icon-system-check {
                                    color:$white;
                                    font-size:2rem;
                                    margin-right:1rem;
                                }
                            }
                        }
                    }
                }
            }
            .findmodal-footer {
                background-color: $gainsboro;
                bottom:0;
                padding: 10px;
                position: absolute;
                text-align:center;
                width:100%;
                .return-search {
                    cursor: pointer;
                    display: flex;
                    margin-bottom: 10px;
                    padding-left: 10px;
                    .icon-system-left-caret {
                        height: 12px;
                        margin-right: 5px;
                        width: 12px;
                    }
                }
                .findmodal-pagination {
                    background-color:$white;
                    padding:5px 20px;
                    margin:20px 0;
                    @include modal-dropshadow();
                }
                .next-step-wrapper {
                    padding:5px 20px;
                    text-align:right;
                    .next-step-selected-text {
                        margin-bottom:.5rem;
                    }
                    .next-step-continue-btn {
                        width:190px;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width:341px) and (max-width:440px) {
    #modal {
        .modal-content {
            .genmodal-body {
                max-height:400px;
            }
        }
    }
}

@media only screen and (min-width:361px) {
    #modal {
        .modal-content {
            .genmodal-body {
                max-height:430px;
            }
        }
    }
}

@media only screen and (min-height:660px) {
    #modal {
        &.modal-results {
            height:auto;
        }
        .modal-content {
            height:auto;
            .modal-results {
                height:auto;
                .genmoda-body {
                    max-height:430px;
                }
                .findmodal-footer {
                    position:relative;
                }
            }
        }
    }
}
