// =============================================================================
// Tastefully Simple Header Styles
// =============================================================================

.header{
    border-bottom: 0;
    .sticky-header{
        &.new-tst-main{
            .new-tst-header{
            display: grid;
            grid-template-columns: 40% 20% 20% 10% 10%;
            }
        }
        }
        .new-tst-main{
            background-color: $teal-hover;
            .new-tst-header{
                display: grid;
                grid-template-columns: 2fr 1fr 1fr 1fr;
            }
            .headertoplinks-nav{
                .fal {
                    font-size: 22px;
                }
            }
    }
    padding:0;
    height: auto;
    .container{
        padding:0;
    }
    .previewCart {
        height:85vh;
        overflow-y:scroll;
    }
    &.is-open {
        .header-top-banner {
            display:none;
        }
    }
    .header-top-banner {
        .banners {
            color: $white;
            text-align: center;
            .banner {
                display:inline-block;
                position:relative;
                width:auto;
                .dropdown-menu {
                    a {
                        color:$teal;
                    }
                }
                p {
                    &.tst-top-banner {
                        display:inline;
                    }
                }
                #bannerPasswordResetDropdown.dropdown-menu {
                    z-index: $zIndex-low; // TST-336
                }
                .banner-detail-button {
                    font-weight: 700;
                }
                .tooltip-center {
                    max-width:none;
                    text-align:left;
                    width:95%;
                }
            }
        }
    }
    .header-top {
        .container {
            .navUser {
                position:unset;
                .navUser-item--cart {
                    &__hidden-s {
                        display: block;
                    }
                    position:absolute;
                    right:0;
                    top:50%;
                    .navUser-action {
                        color:$burgundy;
                    }
                }
            }
        }
    }
    .header-main {
        .container {
            position:unset;
            .header-logo--left {
                text-align:center;
                &>a {
                    width: fit-content;
                    .header-logo-image {
                        width: 250px;
                        max-height:none;
                    }
                }
            }
            .nav-search {
                background-color:$wan-white;
                .form {
                    margin:0 auto;;
                    max-width:70%;
                    padding:.5rem 0;
                    .form-field {
                        margin:0;
                        .form-prefixPostfix {
                            align-items:center;
                            display: inline-flex;
                            justify-content: start;
                            .form-input {
                                max-width: 70%;
                                border-radius:0;
                                height:30px;
                                margin:0;
                                padding:0 1rem;
                                border-radius: 20px;
                            }
                            .button--search {
                                max-height:25px;
                                padding:0;
                                position: relative;
                                left: -25px;
                                &::after{
                                    content: '\f002';
                                    font-family: 'Font Awesome 5 Pro';
                                    font-size: 18px;
                                    color: $teal;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .headertoplinks-consult {
        cursor: pointer;
        color: white;
        text-decoration: none;
        font-size: 1rem;
    }
    .countPill--positive {
        position: relative;
        left: -15px;
        top: -15px;
    }
    .navUser-action--account-text{
        @extend .frameheading-2;
        color: $teal;
    }
}

.consultant-partybar{
    background-color: $teal;
    color: white;
    text-align: center;
    .consultant-partybar-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: center;
        
            .navPages-action{
                color: white;
            }
    }
    a {
        .consultant-view {
            color: white;
            text-decoration: none;
            @extend .framelink-sm;
        }

        &.view-party {
            text-decoration: none;
            color: white;
        }
    }
}
@media only screen and (min-height:600px) {
    .header {
        .previewCart {
            height:auto;
            overflow-y:unset;
        }
    }
}

@media only screen and (min-width:180px) and (max-width:800px) {
    .header{
        position: fixed;
        &.is-open {
            position: fixed;
            .mobileMenu-toggle{
                .mobileMenu-toggleIcon {
                    background: transparent;
                }
            }
            a {
                &#find-party-mobile-text {
                width: min-content;
                min-width: 150px;
                display: grid;
                justify-self: center;
                }
            }
            #partybar-find {
                display: grid;
            }
        }
        .header-top {
            .container {
                .navUser {
                    .navUser-item--cart {
                        top: 30px;
                        .fa-shopping-cart {
                            color: white;
                            font-size: 22px;
                        }
                        .navUser-action {
                            padding: 20px;
                        }
                    }
                }
            }
        }
        .header-logo {
            height: 150px;
            position: relative;
            top: -30px;
            .header-logo-image {
                max-height: fit-content;
            }
        }
        .mobileMenu-toggle{
            top: 30px;
            left: 5%;
            .mobileMenu-toggleIcon,
            .mobileMenu-toggleIcon::before,
            .mobileMenu-toggleIcon::after {
                background: white;
            }
            .mobileMenu-toggleIcon::before, {

            }

        }
        
        .header-top {
            #bcapi_top_left_menu,
            #bcapi_top_right_menu {
                display: none;
            }
            .container {
                &>div {
                    &.header-top-banner {
                        .banners {
                            .banner {
                                .tooltip-center {
                                    // !important required to override inline style
                                    left:50%!important;
                                    transform:translateX(-50%);
                                    &::before {
                                        left:unset;
                                        right:5%;
                                        transform:unset;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .header-main {
            .container {
                #mobile_consultant {
                    order: 2;
                    display: grid !important;
                    position: unset;
                    float: unset;
                    height: 100%;
                    align-content: center;
                }
                
                .my-partybar-title {
                    margin: auto;
                }
                
                .consultant-name, .host-name {
                    margin: 10px 0;
                }
                
                .consultant-info-control {
                    text-align: center;
                    color: white;
                }
                .consultant-mobile {
                    padding: 0px;
                }
                .navPages-container {
                    .right-menu {
                        #menu {
                            width: 100%;
                            background: transparent;
                            position: relative;
                            display: grid;
                            .navPages-item {
                                width: 90%;
                                margin: 0 1rem;
                                padding: 0 0.5rem;
                                &:first-child {
                                    border-top: 1px solid $teal;
                                }
                            }
                        }
                    }
                    &.is-open {
                        top: 150px !important;
                        overflow: scroll;
                        .navPages {
                            margin-bottom: 30%;
                        }
                        .navPages-list{
                            overflow: scroll;
                        }
                        
                    }
                    .navPages-list:not(.navPages-list--user){
                        display: grid !important;
                        grid-template-columns: 1fr;
                        .navPages-item {
                            @extend .frameheading-3;
                            #mobile_consultant {
                                a{
                                    &.navPages-action {
                                        color: white;
                                        text-align: center;
                                        background-color: transparent;
                                        padding: 0;
                                        display: grid;
                                        align-content: center;
                                        p,
                                        span {
                                            color: white;
                                        }
                                    }
                                }
                            }
                            a{
                                &.navPages-action {
                                    @extend .frameheading-3;
                                    color: black;
                                    &.has-subMenu {
                                        padding-bottom: 0;
                                    }
                                    
                                }
                            }
                        } 
                    } 
                }
                .nav-search {
                    .form {
                        max-width: 100%;
                        text-align: center;
                        background-color: $teal-hover;
                        .form-field {
                            margin: 10px 0;
                            .form-prefixPostfix {
                                .form-input {
                                    height: 40px;
                                }
                            }
                        }
                    }
                }
            } 
        }
        .new-tst-main{
            background-color: $teal-hover;
            .new-tst-header{
                display: grid;
                grid-template-columns: 1fr 2fr 1fr;
                align-items: center;

                .header-logo__link{
                    width: 100%;
                }
            }
        }
        .mobile-bar {
            background-color: #23757d;
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
            height: 100px;
            .consultant-partybar{ 
                background: transparent;
            }
            #mobile_partybar {
                border-right: 2px solid white;
                display: grid;
                position: unset;
                float: unset;
                height: 100%;
                align-content: center;
            }
        }
    }

    .form-input {
        max-width: 100% !important;
    }
    header {
        &.is-open {
            .header-main {
                .navPages-container {
                    .navPages-list:not(.navPages-list--user) {
                        li {
                            &.navPages-item {
                                &.navPages-item-shop {
                                    a {
                                        color: $teal !important;
                                    }
                                } 
                            }
                        }
                    } 
                } 
            } 
        } 
        
        

    }
}

@media only screen and (min-width:576px) {
    .header{
        .header-top {
            .container {
                &>div {
                    &.header-top-banner {
                        .banners {
                            .banner {
                                .tooltip-center {
                                    // !important required to override inline style
                                    left:unset!important;
                                    right:-36%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.banner-tst {
    background-color: $grape;
    color: white;
    position: relative;
        .banner-container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            width: 100%;
            text-align: center;
            height: 50px;
            align-content: center;
        }
}
@media only screen and (min-width:801px) {
    .header {
        .container{
            padding:0 1.5rem;
        }
        .header-top {

            #bcapi_top_left_menu {
                justify-self: flex-end;
            }
            .container {
                color:$white;
                display: grid;
                grid-template-columns: 2fr 1fr 1fr 1fr;
                &>div {
                    flex:2 2 50%;
                    display: grid;
                    align-content: end;
                    &.header-top-banner {
                        .banners {
                            text-align:left;
                        }
                    }
                    &.header-top-links {
                        align-items:center;
                        display:flex;
                        justify-content:flex-end;
                        padding:0.75rem 0;
                        &>div {
                            align-items:center;
                            display:flex;
                            .icon-system-marker {
                                margin-right:.25rem;
                            }
                            .navUser {
                                padding:0;
                                .navUser-section {
                                    align-items:center;
                                    display:flex;
                                    .navUser-action {
                                        padding:0 0 0 1rem;
                                    }
                                    .navUser-item--cart{
                                        position:unset;
                                        .navUser-action{
                                            color: $green-hover;
                                            font-size: 22px;
                                        }
                                    }
                                }
                            }
                        }
                        .dropdown-menu {
                            color: $text-gray;
                            &#cart-preview-dropdown {
                                min-width:350px;
                            }
                        }
                    }
                }
            }
        }
        .header-main {
            .container {
                align-items:center;
                display:grid;
                justify-content:space-between;
                padding-bottom:0;
                padding-top:0;
                align-items: flex-end;
                .header-logo {
                    position: relative;
                    top: -130px;
                    margin-bottom: -130px;
                    &.header-logo--left {
                        text-align:left;
                    }
                    .header-logo-image-container {
                        min-height: unset;
                        .header-logo-image {
                            display: inline-block;
                            left:unset;
                            margin: auto;
                            position:relative;
                            transform:unset;
                        }
                        &::after {
                            padding:0;
                        }
                    }
                }
                .nav-search {
                    background:transparent;
                    position: relative;
                    top: -15px;
                    .form {
                        margin:0;
                        max-width:none;
                        padding:0;
                    }
                }
            }
        }
        .headertoplinks-consult {
            .consultant-info {
                text-align: left;

                p {
                    margin: 0;
                }

                span {
                    font-weight: 500;
                }
            }
        }
    }
    .navUser-item--account {
        position:relative;
        .navUser-action {
            font-weight: 100;
            text-transform: capitalize;
            &:hover,
            &:focus {
                color: $white;
            }
        }
        .dropdown-menu {
            // Override Foundation's inline style on left and top properties
            background-color: $gainsboro;
            border-color: $gainsboro;
            box-shadow: 4px 5px 7px rgba(0, 0, 0, 0.2);
            padding: 0.5rem 1rem;
            top: 30px !important;
            transform: translateX(-50%);
            width: 200px;
            text-align: right;
            left: 50px !important;
            &.is-open {
                &:before,
                &:after {
                    left: auto;
                }
                &:before {
                    right: 3.19rem;
                }
                &:after {
                    right: 3.29rem;
                    border-color: transparent transparent $gainsboro transparent;
                }
            }
            ul {
                &>li {
                    height: 25px;
                    &>a {
                        display:block;
                        text-decoration: none;
                        text-transform: lowercase;
                    }
                }
            }
        }
    }
    // Makes the main header sticky when scrolling
    .sticky-header {
        
        .header-logo{
            top: -70px !important;
            justify-self: center;
            margin-bottom: -80px !important;
            }
            &.new-tst-main {
                .new-tst-header {
                    align-content: end;
                    align-items: end;
                }
            }
        position: fixed;
        top: 0;
        width: 100%;
        background-color: $header-bg;
        .headertoplinks-consult-text,
        .navUser-action--account-text,
        .fa-caret-down {
            display: none;
        }
        .header-top-links {
            align-items: center;
            color: $text-gray;
            display: flex;
            justify-content: flex-end;
            max-width: 125px;
            width: 100%;
            .fa-lg {
                font-size:16px;
            }
            .headertoplinks-consult {
                color: $text-gray;
                padding-right:.1rem;
                &:hover {
                    color: $text-gray;
                }
                &>span {
                    padding: 1rem 0.5rem;
                    width: auto;
                }
            }
            .navUser {
                padding: 0;
                ul {
                    &.navUser-section {
                        align-items: center;
                        display: flex;
                    }
                }
                .navUser-action {
                    color: $white;
                    line-height:1;
                    padding: 1rem 0.5rem;
                }
                .navUser-item--account {
                    &>.dropdown-menu {
                        top: 54px !important;
                        left: calc(100% + 5px) !important;
                        transform: translateX(-80%);
                        width: 190px;
                    }
                }
                .navUser-item--cart {
                    .navUser-action {
                        align-items:center;
                        display: flex;
                    }
                    &>.dropdown-menu {
                        min-width: 350px;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width:801px) and (max-width:865px) {
    .header {
        .header-top {
            .container {
                padding:0 0.25rem;
                .header-top-banner {
                    flex-basis: 44%;
                }
            }
        }
    }
}

@media only screen and (min-width:1920px) {
    .header {
        .header-main {
            .container {
                margin:0 auto;
            }
        }
    }
}

