// =============================================================================
// Tastefully Simple Header Styles
// =============================================================================

.header{
    .header-main{
        .container{
            position:unset;
        }
    }
}

@media only screen and (min-width:801px) {
    .header {
        .header-top {
            .container {
                color:$white;
                display:flex;
                justify-content:space-between;
                padding:0;
                &>div {
                    flex:2 2 50%;
                    &.header-top-banner {
                        .banners {
                            background-color: $text-gray;
                            color: $white;
                            padding-left: 2rem;
                            text-align: left;

                            p:last-child {
                                margin-bottom: 0;
                                text-transform: uppercase;
                            }

                            a {
                                color: $white;
                                text-transform: none;
                                text-decoration: none;
                                font-weight: 800;
                            }
                        }
                    }
                    &.header-top-links {
                        align-items:center;
                        display:flex;
                        justify-content:flex-end;
                        &>div {
                            align-items:center;
                            display:flex;
                            .icon-system-marker {
                                margin-right:.25rem;
                            }
                            .navUser {
                                padding:0;
                                .navUser-section {
                                    align-items:center;
                                    display:flex;
                                    .navUser-action {
                                        padding:0 1rem;
                                    }
                                }
                            }
                        }
                        .dropdown-menu {
                            color: $text-gray;
                            &#cart-preview-dropdown {
                                min-width:350px;
                            }
                        }
                    }
                }
            }
        }
        .header-main {
            .container {
                align-items:center;
                display:flex;
                justify-content:space-between;
                padding-bottom:0;
                padding-top:0;
                .header-logo {
                    flex:2 33%;
                    margin:2rem 0;
                    .header-logo-image-container {
                        .header-logo-image {
                            position:relative;
                        }
                        &::after {
                            padding:0;
                        }
                    }
                }
                .nav-search {
                    .form {
                        margin:0;
                        .form-field {
                            margin:0;
                            .form-prefixPostfix {
                                align-items:center;
                                .form-input {
                                    border-radius:0;
                                    height:25px;
                                    padding:0 1rem;
                                    margin:0;
                                }
                                .button--search {
                                    max-height:25px;
                                    padding:0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .navUser-item--account {
        .navUser-action {
            text-transform: capitalize;
            font-weight: 100;
        }

        .dropdown-menu {
            // Override Foundation's inline style on left and top properties
            left: 53px !important;
            top: 30px !important;
            transform: translateX(-50%);
            max-width: remCalc(128px);
            border-color: $gainsboro;
            padding: 0rem 1rem;
            padding-bottom: 0.5rem;
            background-color: $gainsboro;
            box-shadow: 4px 5px 7px rgba(0, 0, 0, 0.2);

            &.is-open {
                &:before,
                &:after {
                    left: auto;
                }

                &:before {
                    right: 3.19rem;
                }

                &:after {
                    right: 3.29rem;
                    border-color: transparent transparent $gainsboro transparent;
                }
            }

            ul > li > a {
                text-decoration: none;
                text-transform: lowercase;
            }
        }
    }
    // Makes the main header sticky when scrolling
    .sticky-header {
      position: fixed;
      top: 0;
      width: 100%;
      background-color: $header-bg;

      .headertoplinks-consult-text,
        .navUser-action--account-text,
        .fa-caret-down {
            display: none;
        }
        .header-top-links {
            display: flex;
            justify-content: flex-end;
            max-width: 150px;
            width: 100%;
            color: $text-gray;
            .headertoplinks-consult > span {
                padding: 1rem 0.5rem;
                width: auto;
            }
            .navUser {
                padding: 0;
                .navUser-action {
                    color: $text-gray;
                    padding: 1rem 0.5rem;
                }
                .navUser-item--account > .dropdown-menu {
                    top: 45px !important;
                    width: 128px;
                    transform: translateX(-80%);
                }
                .navUser-item--cart > .dropdown-menu {
                    min-width: 350px;
                }
            }
        }
    }
}

@media only screen and (min-width:1920px) {
    .header {
        .header-main {
            .container {
                margin:0 auto;
            }
        }
    }
}

