// =============================================================================
// JOIN (CSS)
// =============================================================================

.join {

  .join-banner {
    background: url(../img/join-banner.png) no-repeat center center;
    background-size: cover;
    min-height: 300px;
    margin-top: -5rem;
    display: flex;
    align-items: center;

    &__title-wrapper {
      margin: 0 auto;
      text-align: center;

      h1 {
        color: #fff;
        font-family: 'Neuton', serif;
      }
    }
  }

  #form-id {
    display: none;
  }

  .container {
    margin-top: -4rem;
    background:  #fff;
    border-radius: 5px;
    padding: 0;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.13);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));

    .join-form, .join-content {
      padding: 0 4rem 4rem;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }

  .join-content {
    background: #F1F0EE;
  }

  h2 {
    font-size: 28px;
    font-family: 'Neuton', serif;
  }

  .hidden {
    display: none;
  }

  #learn-more {
    border-radius: 5px;
    color: white;
    background-color: #A8B723;
    font-weight: bold;
    font-size: 16px;
    padding: .75rem 1.75rem;
    cursor: pointer;
  }

  .join-form {

    &__form-toggle {
      display: flex;
      align-items: center;

      p {
        margin-bottom: 0;
      }

      .active {
        color: #A8B723;
        border-bottom: 1px solid #A8B723;
        font-weight: bold;
      }

      /* The switch - the box around the slider */
      .switch {
        position: relative;
        display: inline-block;
        width: 20px;
        height: 10px;
        margin-left: 1rem;
        margin-right: 1rem;
      }

      /* Hide default HTML checkbox */
      .switch input {
        opacity: 0;
        width: 0;
        height: 0;
      }

      /* The slider */
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
      }

      .slider:before {
        position: absolute;
        content: "";
        height: 8px;
        width: 8px;
        box-shadow: 0 1px 0.25px 0 rgba(0,0,0,0.5);
        left: 1px;
        bottom: 1px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }

      input + .slider {
        background-color: #A8B723;
      }

      input:focus + .slider {
        box-shadow: 0 0 1px #A8B723;
      }

      input:checked + .slider:before {
        -webkit-transform: translateX(10px);
        -ms-transform: translateX(10px);
        transform: translateX(10px);
      }

      /* Rounded sliders */
      .slider.round {
        border-radius: 34px;
      }

      .slider.round:before {
        border-radius: 50%;
      }

    }
  }

  form {

    label {
      width: 100%;
      display: block;
      font-size: 12px;
      font-weight: bold;
      margin-bottom: .25rem;
      margin-left: .25rem;
    }

    input {
      width: 80%;
      height: 2.5rem;
      margin-bottom: .5rem;
      border-radius: 5px;
      border: 1px solid #979797;
      box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
    }

    #submit {
      width: auto;
      margin-top: 2rem;
      background-color: #00757D;
      color: white;
      cursor: pointer;
      font-weight: bold;
      padding: .5rem 1.75rem;
      border-radius: 5px;
      display: flex;
      align-items: center;
      font-size: 16px;
      svg {
        fill: white;
        height: 35px;
        width: 35px;
      }
    }
  }
}
