// Styling for shogun insert on Consultant Kit custom product template
.join--kit {

  .shogun-root {
    margin-top: $SPACING_2;
    margin-bottom: $SPACING_2;
  }
  .productView-description {
    width: 100%;
    .shogun-image-container {
      overflow: hidden;
      height: 76px;
      width: 76px;
      img {
        width: auto;
        max-width: 100px;
      }
    }

    p {
      margin: 0;
      font-size: 14px;
      line-height: 1.5;
    }

    .shg-row {
      margin-top: $SPACING_1;
      margin-bottom: $SPACING_1;
    }
  }
}
