//Product Details Section
.productView-details{
    .productView-product {
        .productView-title{
            font-size: 34px;
        }
        .productView-price{
            .price--withoutTax{
                // TODO add media query for upsizing on width >= 801 or downsize old price (sale items)
                font-size: 22px;
                font-family: "PT Serif", Arial, Helvetica, sans-serif;
            }
        }
    }
}

// Qty Picker
.form-field--increments {
    text-align: left;
    .form-increment{
        .form-input--incrementTotal{
            font-weight: 600;
            padding: 2px 1px;
        }
    }
}

// Wishlist
.form-wishlist{
    .dropdown-menu-button{
        &:hover{
            border-color: $burgundy;
            .icon{
                svg{
                    fill: $burgundy;
                }
            }
        }
        .icon{
            svg{
                fill: $light-burgundy;
            }
        }
    }
    #wishlist-dropdown{
        li {
            .button:hover{
                border-color: $burgundy;
            }
        }
    }
}
