.recipe-container {
    overflow: hidden;
    margin-bottom: 0;
    .container {
        padding: 0;
    }
}

#recipe-page {
    .productView {
        width: 100vw;
        margin: 0;
    }
    .recipe-top {
        align-items: center;
        display: flex;
        background-color: $cream;
        max-height: 410px;
        .recipe-top-left, .recipe-top-right {
            width: 50%;
            align-items: center;
        }
        .recipe-top-left {
            display: flex;
            flex-direction: column;
            .productView-title {
                text-align: center;
            }
            .productView-details {
                width: unset;
                padding: 0;
                .addthis_toolbox {
                    margin-top: 1rem;
                    .socialLinks-title {
                        top: -18px;
                        .socialLinks-titleText {
                            background-color: $cream;
                        }
                    }
                }
            }
        }
        .recipe-top-right {
            .productView-images {
                margin-bottom: 0;
                padding-right: 0;
                padding-left: 0;
                width: 100%;
                .productView-thumbnails {
                    .slick-list {
                        margin: 0;
                    }
                    img {
                        width: 100%;
                        max-height: 410px
                    }
                }
                .slick-slider {
                    display: flex;
                    margin-bottom: 0;
                }
                .slick-slide {
                    display: flex;
                }
                .slick-dots {
                    bottom: -30px;
                    margin-bottom: 0;
                    position: absolute;
                    li {
                        button {
                            background-color: $gainsboro;
                            border-color: $gainsboro;
                        }
                        &.slick-active {
                            button {
                                &::before {
                                    background-color: $burgundy;
                                    border-color: $burgundy;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .recipe-main {
        margin-top: 2rem;
        .quick-info {
            border-bottom: 1px solid;
            border-top: 1px solid;
            display:flex;
            justify-content: space-between;
            margin: 4vw auto 0;
            max-width: 80%;
            padding: 1.5rem 1rem;
            span {
                margin: 0 auto;
            }
            strong {
                color: $burgundy;
                font-weight: 800;
                margin-left: .5rem;
            }
        }
        .info {
            margin: auto;
            width: 60%;
            h2 {
                text-align: center;
            }
            #ingredients {
                ul {
                    column-count: 2;
                    list-style-type: none;
                }
                a {
                    align-items: center;
                    color: $burgundy;
                    display: flex;
                    font-size: 16px;
                    font-weight: 900;
                    text-decoration: none;
                    /* Hide the icon entirely for now
                    &::after {
                        content: '';
                        margin-left: 1ch;
                        @extend .icon-system-addtocart;
                    }
                    */
                }
            }
            #directions {
                .directions-list {
                    .direction-item {
                        b {
                            color: $burgundy;
                            font-weight: 900;
                        }
                    }
                }
            }
        }
    }
    .productReviews {
        margin: auto;
        width: 75%;
        .review-sep {
            background-color: $wan-white;
            left: 0;
            margin-bottom: 2rem;
            position: absolute;
            width: 100vw;
            .review-sep-inner {
                align-items: center;
                display: flex;
                margin: auto;
                padding: 1rem 2rem;
                width: 80%;
            }
            h2 {
                margin: 0;
            }
            .toggle-title {
                margin-bottom: 0;
                margin-left: 1rem;
            }
            .button-primary {
                margin: 0 0 0 auto;
            }
        }
        .productReviews-list {
            margin-top: 5rem;
        }
        .productReview {
            &::after {
                border-bottom: 2px solid $gainsboro;
                content: '';
                display: block;
                margin: auto auto 2rem;
                width: 99%;
            }
            .productReview-author {
                margin-bottom: 0;
                @extend .frame-subhead;
            }
            .rating-title {
                align-items: center;
                display: flex;
                .productReview-title {
                    margin-left: 1ch;
                }
                .productReview-rating {
                    margin-bottom: 0;
                }
            }
        }
    }
}

@media only screen and (max-width:540px) {
    #recipe-page {
        .productView {
            margin-left: 0;
        }
    }
}
@media only screen and (min-width: 1921px) {
    #recipe-page {
        .productView {
            width: 100%;
        }
        .productReviews {
            .review-sep {
                width: 100%;
            }
        }
    }
}

@media only screen and (max-width:540px) {
    #recipe-page {
        .recipe-top {
            flex-direction: column;
            .recipe-top-left, .recipe-top-right {
                width: 100%;
            }
            .recipe-top-left {
                .productView-title {
                    margin-top: 1rem;
                    text-align: center;
                }
            }
        }
        .recipe-main {
            .quick-info {
                flex-direction: column;
                span {
                    display: block;
                }
            }
            .info {
                width: 90%;
                #ingredients {
                    ul {
                        columns: 1;
                        margin: auto;
                        list-style-position: inside;
                    }
                }
            }
        }
        .productReviews {
            width: 100%;
            .review-sep {
                position: relative;
                margin-left: -1.5rem;
                .review-sep-inner {
                    flex-direction: column;
                    justify-content: center;
                    width: auto;
                    .button-primary {
                        margin: 1rem auto auto;
                    }
                }
            }
            .productReviews-list {
                margin-top: 1rem;
            }
        }
    }
}
