.sponsorSearchData-wrapper {
  margin-bottom: $SPACING_2;
  padding: 5px 5px 5px 2px;
  &.active {
    background-color: $COLOR_WHITE;
  }
}

#sponsorSearchData {
  padding-right: 5px;
  max-height: 490px;
  overflow: scroll;
  overflow-x: hidden;
  scrollbar-color: $COLOR_SECONDARY_100 $COLOR_GRAY_100;
  scrollbar-width: thin;

  &.no-scroll {
    overflow: hidden;
  }

  &.active {
    background-color: $COLOR_WHITE;
  }

  &::-webkit-scrollbar {
    width: 10px;
    padding-top: 10px;
  }

  &::-webkit-scrollbar-track {
    background: $COLOR_GRAY_100;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: $COLOR_SECONDARY_100;
    border-radius: 10px;
  }

  .sponsor-wrapper {
    display: flex;
    position: relative;
    padding: $SPACING_1;
    margin-top: $SPACING_1;
    margin-bottom: $SPACING_1;
    &--active {
      border: 2px solid $COLOR_PRIMARY_100;

      .checkmark {
        position: absolute;
        right: $SPACING_2;
        top: $SPACING_2;
        height: 25px;
        width: 25px;
        border: 2px solid $COLOR_PRIMARY_100;
        border-radius: 100%;
        @include checkmark();

        &:after {
          position: absolute;
          left: 6px;
          top: 2px;
        }
      }
    }
  }

  ul {
    margin-bottom: 0;
    margin-right: 2.25rem;
    max-width: 230px;
    word-break: break-word;
  }

  li {
    font-size: 14px;
  }
  
  .sponsor-img-wrapper {
    height: 140px;
    width: 140px;
    background-size: cover;
  }

  .sponsor-divider {
    width: calc(100% - 1rem);
    margin: 0 auto;
    border-bottom: 1px solid black;
  }

  svg {
    width: 18px;
    height: 18px;
    margin-left: 3px;
    margin-right: 3px;
    vertical-align: middle;
  }

  .sponsor-name {
    font-weight: bold;
  }

  .sponsor-link {
    font-weight: bold;
    color: $COLOR_PRIMARY_100;
  }
}
