// =============================================================================
// Tastefully Simple Common Styles
// =============================================================================

.body {
    margin-top:7rem;
}
.page {
    margin:auto;
}

@media only screen and (min-width:801px){
    .body {
        margin-top:2.5rem;
    }
    .container{
        margin:auto;
        max-width:1920px;
        padding:1rem;
    }
    .slick-next{
        right:0;
    }
    .slick-prev{
        left:0;
    }
}

@media only screen and (min-width:960px){
    .container{
        padding:1rem 2rem;
    }
}

// Accordion styles (desktop first to avoid unsetting transitions)
@media only screen and (max-width:800px) {
    .tst-accordion {
        .tst-accordion-item {
            transition:margin 0.4s ease-out;
            margin-bottom:1rem;
            &.open { 
                transition:margin 0.4s ease;
                &:not(:last-of-type) {
                    margin-bottom:5rem;
                }
                &:last-of-type {
                    margin-bottom:4rem;
                }
                .tst-accordion-title{
                    &::after{
                        content:'\f0d8';
                        font:700 15px 'Font Awesome 5 Free';
                    }
                }
                .tst-accordion-body {
                    margin: 0px 0px 10px 0px;
                    transform: scaleY(1);
                    transform-origin: top;
                    transition: transform 0.4s ease;
                }
            }
        }

        .tst-accordion-body {
            height:0px;
            transition:height 1s ease-out;
            transform: scaleY(0);
        }

        .tst-accordion-title {
            cursor:pointer;
            &::after {
                content:'\f0d7';
                font:700 15px 'Font Awesome 5 Free';
                padding-left:.5rem;
            }
        }
    }
}
