/**
* WYSIWYG is a utility class applied to areas where users have entered content in a wysiwyg editor.
* Shogun css classes may need to be modified
*/
.wysiwyg,
.shg-rich-text,
.mce-content-body,
.shogun-editor-content {

    // Give a proportionate amount of vertical space based on font size to each element inside content area.
    > * + * {
        margin-top: 1rem;
    }

    // Element styles for wysiwyg content are different than theme css heading classes by design.
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        line-height: 1.2;
        text-transform: uppercase;
    }

    h1 {
        @include heading1();
    }

    h2 {
        @include heading2();
    }

    h3 {
        @include heading3();
    }

    h4 {
        @include heading4();
    }

    h5 {
        @include heading5();
    }

    h6 {
        @include heading6();
    }

    p {
        font-size: 18px;
        line-height: 2;
        font-weight: $FONT_WEIGHT_NORMAL;
    }

    li {
        line-height: 1.6;
    }

    img {
        display: block;
    }

    img[style*="float"] {
        margin-left: auto;
        margin-right: auto;
        float: none !important;

        @include breakpoint($BREAKPOINT_SMALL) {
            width: auto;
        }
    }

    img[style*="float: left;"] {
        @include breakpoint($BREAKPOINT_SMALL) {
            margin-right: $SPACING_3;
            float: left !important;
        }
    }

    img[style*="float: right;"] {
        @include breakpoint($BREAKPOINT_SMALL) {
            margin-left: $SPACING_3;
            float: right !important;
        }
    }

    h1 img[style*="float"],
    h2 img[style*="float"],
    h3 img[style*="float"],
    h4 img[style*="float"],
    h5 img[style*="float"],
    h6 img[style*="float"],
    p img[style*="float"] {
        margin-bottom: $SPACING_3;
        line-height: 1;

        @include breakpoint($BREAKPOINT_SMALL) {
            margin-bottom: 0;
        }
    }

    ul {
        padding-left: $SPACING_5;
        list-style: disc;
    }

    ol {
        padding-left: $SPACING_5;
        list-style: decimal;
    }
}
