.iconText {
    display: flex;
    align-items: center;

    // Yeah, this crosses into another css module and that's a no-no. But we have a pretty stable use case here.
    > .responsiveIcon {
        width: 24px;
    }
    
    > * + * {
        margin-left: $SPACING_1;
    }
}