<div class="modal-general-alternate" id="cart-sub-login">
    <div class="genmodal-header">
        <h2>{{ lang 'ts_cart_subscription.login_title' }}</h2>
        <button type="button" class="modal-close" aria-label="Close" role="button">
            <span aria-hidden="true" class="close-modal-alternate"></span>
        </button>
    </div>
    <div class="cart-sub-body">
        <div class="alertbox-error">
            <h2 class="alert-title">Error</h2>
            <p class="alert-message">
                <span></span>
            </p>
        </div>
        <h1 class="frameheading-1 greeting">Hi, {{ customer.name }} Client</h1>
        <p>It looks like you are a tastefully Simple consultant. Yum Club autoship subscriptions and discounts are for clients only.</p>
        <p>Please return to your cart and remove your subscription products.</p>
        <button class="button-primary subscriptionmodal-cancel-btn">Return to Cart</button>
    </div>
</div>

